<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AxbNum_Mapper" >
  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.AxbNum" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="axb_num_id" property="axbNumId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="freezetime" property="freezetime" jdbcType="TIMESTAMP" />
    <result column="deltime" property="deltime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, appid, axb_num_id,  status, addtime, updatetime,freezetime,deltime
  </sql>

  <select id="pageAxbNum" resultType="map" parameterType="Page" >
    <include refid="com.e9cloud.pre"/>
    SELECT e.*,d.app_name FROM (SELECT a.cname,a.area_code,a.id, b.appid,b.addtime,c.number,b.`status` FROM tb_telno_city a,tb_axb_num b,tb_axb_num_pool c WHERE a.ccode = c.cityid  and b.axb_num_id=c.id ) e,tb_app_info d
    where d.appid = e.appid and e.`status` in  ('00','01')
           and d.sid = #{params.sid,jdbcType=VARCHAR}
    <if test="params.number != null and params.number != ''">
      and e.number like CONCAT('%',#{params.number,jdbcType=VARCHAR},'%')
    </if>
    <if test="params.appid != null and params.appid != ''">
      and d.appid = #{params.appid,jdbcType=VARCHAR}
    </if>
    <if test="params.id != null and params.id != ''">
      and e.id = #{params.id,jdbcType=VARCHAR}
    </if>
    ORDER BY d.pinyin asc
    <include refid="com.e9cloud.suf"/>
  </select>


  <select id="getpageAxbNumList" resultType="map" parameterType="Page" >
    SELECT e.*,d.app_name FROM (SELECT a.cname,a.area_code,a.id, b.appid,b.addtime,c.number,b.`status` FROM tb_telno_city a,tb_axb_num b,tb_axb_num_pool c WHERE a.ccode = c.cityid  and b.axb_num_id=c.id ) e,tb_app_info d
    where d.appid = e.appid and e.`status` in  ('00','01')
         and d.sid = #{params.sid,jdbcType=VARCHAR}
    <if test="params.number != null and params.number != ''">
      and e.number like CONCAT('%',#{params.number,jdbcType=VARCHAR},'%')
    </if>
    <if test="params.appid != null and params.appid != ''">
      and d.appid = #{params.appid,jdbcType=VARCHAR}
    </if>
    <if test="params.id != null and params.id != ''">
      and e.id = #{params.id,jdbcType=VARCHAR}
    </if>
    ORDER BY d.pinyin asc
  </select>

</mapper>