<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Action_Mapper" >

  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.Action" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="typeName" property="typeName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="sys_type" property="sysType" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, menu_id, type, url, state, sys_type
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rms_sys_action
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByMId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT
      a.*, d.`name` as typeName
    FROM rms_sys_action a LEFT JOIN tb_dic_data d
    on a.type = d.`code` AND d.typekey = 'actionType'
    where a.menu_id = #{_parameter}
    ORDER BY d.sort
  </select>

  <select id="selectATree" resultType="com.e9cloud.core.common.Tree" parameterType="java.lang.String" >
    SELECT ma.id as id, ma.pId as pId, ma.`name` as `name` , IF(ra.id is NOT NULL, 'Y', ra.id) as hasRole, ma.aid AS custom FROM (
        SELECT
            sm.id as id, sm.parent_id AS pId, sm.`name` as `name`, sa.id as aid, sa.type AS type , sm.`level`, sm.order_by
        FROM rms_sys_menu sm LEFT JOIN rms_sys_action sa ON ( sm.id = sa.menu_id )
        WHERE sm.sys_type = 'D'
    ) ma LEFT JOIN tb_dic_data dd ON ( ma.type = dd.`code` AND dd.typekey = 'actionType' )
    LEFT JOIN rms_sys_role_action ra ON ( ma.aid = ra.action_id AND ra.role_id = #{_parameter} )
    WHERE 1 = 1
    ORDER BY ma.`level`,ma.order_by
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from rms_sys_action
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteActionByMenuId" parameterType="java.lang.String">
    delete from rms_sys_action
    where menu_id = #{menuId,jdbcType=VARCHAR}
  </delete>

  <insert id="insertSelective" parameterType="com.e9cloud.mybatis.domain.Action" >
    insert into rms_sys_action
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="sysType != null" >
        sys_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="sysType != null" >
        #{sysType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.e9cloud.mybatis.domain.Action" >
    update rms_sys_action
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="sysType != null" >
        sys_type = #{sysType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>