<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StatIvrMinuteRecord_Mapper" >

  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.StatIvrMinuteRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="statmin" property="statmin" jdbcType="DATE" />
    <result column="rcdtype" property="rcdtype" jdbcType="VARCHAR" />
    <result column="abline" property="abline" jdbcType="CHAR" />
    <result column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="feeid" property="feeid" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="callcnt" property="callcnt" jdbcType="INTEGER" />
    <result column="succcnt" property="succcnt" jdbcType="INTEGER" />
    <result column="answercnt" property="answercnt" jdbcType="INTEGER" />
    <result column="thscsum" property="thscsum" jdbcType="INTEGER" />
    <result column="jfscsum" property="jfscsum" jdbcType="INTEGER" />
    <result column="lyscsum" property="lyscsum" jdbcType="INTEGER" />
    <result column="jflyscsum" property="jflyscsum" jdbcType="INTEGER" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="recordingfee" property="recordingfee" jdbcType="DECIMAL" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, statmin, rcdtype, abline, sid, feeid, appid, callcnt, succcnt, answercnt, thscsum, 
    jfscsum, lyscsum, jflyscsum, fee, recordingfee, ctime
  </sql>

  <!-- 按分钟统计 ecc 云总机 话务走势 的话务情况 -->
  <select id="countEccScanByMin" resultType="map" parameterType="map">
    SELECT
    SUM(sr.thscsum) thscsum,

    SUM(if(sr.rcdtype='CallInSip',sr.thscsum,0)) thscsumS,
    SUM(if(sr.rcdtype='CallInNonSip',sr.thscsum,0)) thscsumNS,
    SUM(if(sr.rcdtype='CallInDirect',sr.thscsum,0)) thscsumD,
    SUM(if(sr.rcdtype='CallOutLocal',sr.thscsum,0)) thscsumL,
    SUM(if(sr.rcdtype='CallOutNonLocal',sr.thscsum,0)) thscsumNL,

    SUM(if(sr.rcdtype='CallInSip',sr.thscsum,0))/SUM(if(sr.rcdtype='CallInSip',sr.succcnt,0)) thscAvgS,
    SUM(if(sr.rcdtype='CallInNonSip',sr.thscsum,0))/SUM(if(sr.rcdtype='CallInNonSip',sr.succcnt,0)) thscAvgNS,
    SUM(if(sr.rcdtype='CallInDirect',sr.thscsum,0))/SUM(if(sr.rcdtype='CallInDirect',sr.succcnt,0)) thscAvgD,
    SUM(if(sr.rcdtype='CallOutLocal',sr.thscsum,0))/SUM(if(sr.rcdtype='CallOutLocal',sr.succcnt,0)) thscAvgL,
    SUM(if(sr.rcdtype='CallOutNonLocal',sr.thscsum,0))/SUM(if(sr.rcdtype='CallOutNonLocal',sr.succcnt,0)) thscAvgNL,

    SUM(sr.jfscsum) jfscsum,

    SUM(sr.callcnt) callcnt,

    SUM(if(sr.rcdtype='CallInSip',sr.succcnt,0))/SUM(if(sr.rcdtype='CallInSip',sr.callcnt,0)) succcntS,
    SUM(if(sr.rcdtype='CallInNonSip',sr.succcnt,0))/SUM(if(sr.rcdtype='CallInNonSip',sr.callcnt,0)) succcntNS,
    SUM(if(sr.rcdtype='CallInDirect',sr.succcnt,0))/SUM(if(sr.rcdtype='CallInDirect',sr.callcnt,0)) succcntD,
    SUM(if(sr.rcdtype='CallOutLocal',sr.succcnt,0))/SUM(if(sr.rcdtype='CallOutLocal',sr.callcnt,0)) succcntL,
    SUM(if(sr.rcdtype='CallOutNonLocal',sr.succcnt,0))/SUM(if(sr.rcdtype='CallOutNonLocal',sr.callcnt,0)) succcntNL,

    SUM(if(sr.rcdtype='CallInSip',sr.answercnt,0))/SUM(if(sr.rcdtype='CallInSip',sr.callcnt,0)) answercntS,
    SUM(if(sr.rcdtype='CallInNonSip',sr.answercnt,0))/SUM(if(sr.rcdtype='CallInNonSip',sr.callcnt,0)) answercntNS,
    SUM(if(sr.rcdtype='CallInDirect',sr.answercnt,0))/SUM(if(sr.rcdtype='CallInDirect',sr.callcnt,0)) answercntD,
    SUM(if(sr.rcdtype='CallOutLocal',sr.answercnt,0))/SUM(if(sr.rcdtype='CallOutLocal',sr.callcnt,0)) answercntL,
    SUM(if(sr.rcdtype='CallOutNonLocal',sr.answercnt,0))/SUM(if(sr.rcdtype='CallOutNonLocal',sr.callcnt,0)) answercntNL,

    DATE_FORMAT(sr.statmin,'%H:%i') d
    FROM stat_ivr_minute_record sr
    WHERE sr.statmin &gt;= #{startDay,jdbcType=TIMESTAMP}
    AND sr.statmin &lt; #{endDay,jdbcType=TIMESTAMP}
    AND sr.abline = 'B'
    <if test="appid!=null and ''!=appid">
      AND sr.appid = #{appid,jdbcType=VARCHAR}
    </if>
    <if test="subid!=null and ''!=subid and '-1'!=subid">
      AND sr.subid = #{subid,jdbcType=VARCHAR}
    </if>
    <if test="sid != null and sid != '-1' and sid != ''">
      AND sr.feeid = (SELECT feeid FROM tb_user_admin WHERE sid = #{sid,jdbcType=VARCHAR})
    </if>
    GROUP BY d
  </select>
</mapper>