<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StatRestHourRecord_Mapper" >
  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.StatRestHourRecord">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stathour" property="stathour" jdbcType="TIMESTAMP" />
    <result column="feeid" property="feeid" jdbcType="VARCHAR" />
    <result column="abline" property="abline" jdbcType="CHAR" />
    <result column="callcnt" property="callcnt" jdbcType="INTEGER" />
    <result column="succcnt" property="succcnt" jdbcType="INTEGER" />
    <result column="thscsum" property="thscsum" jdbcType="INTEGER" />
    <result column="jfscsum" property="jfscsum" jdbcType="INTEGER" />
    <result column="rcd_cnt" property="rcdCnt" jdbcType="INTEGER" />
    <result column="rcd_time" property="rcdTime" jdbcType="INTEGER" />
    <result column="rcd_bill_cnt" property="rcdBillCnt" jdbcType="INTEGER" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="recordingfee" property="recordingfee" jdbcType="DECIMAL" />
    <result column="answercnt" property="answercnt" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List">
    id, stathour, feeid, abline, callcnt, succcnt, thscsum, jfscsum, rcd_cnt, rcd_time, 
    rcd_bill_cnt, fee, recordingfee, answercnt
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from stat_rest_hour_record
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 按天统计 专线语音 的话务情况 -->
  <select id="countRestScanByDay" resultType="map" parameterType="map">
    SELECT
       SUM(sr.thscsum) thscsum,

      SUM(if(sr.abline='A',sr.thscsum,0)) thscsumA,
      SUM(if(sr.abline='B',sr.thscsum,0)) thscsumB,

      SUM(if(sr.abline='A',sr.thscsum,0))/SUM(if(sr.abline='A',sr.succcnt,0)) thscAvgA,
      SUM(if(sr.abline='B',sr.thscsum,0))/SUM(if(sr.abline='B',sr.succcnt,0)) thscAvgB,

      SUM(sr.jfscsum) jfscsum,

      SUM(sr.callcnt) callcnt,

      SUM(if(sr.abline='A',sr.succcnt,0))/SUM(if(sr.abline='A',sr.callcnt,0)) succcntA,
      SUM(if(sr.abline='B',sr.succcnt,0))/SUM(if(sr.abline='B',sr.callcnt,0)) succcntB,

      SUM(if(sr.abline='A',sr.answercnt,0))/SUM(if(sr.abline='A',sr.callcnt,0)) answercntA,
      SUM(if(sr.abline='B',sr.answercnt,0))/SUM(if(sr.abline='B',sr.callcnt,0)) answercntB,

      DATE_FORMAT(sr.stathour,'%H') h,
      DATE_FORMAT(sr.stathour,'%Y-%m-%d %H') d
    FROM stat_rest_hour_record sr
    WHERE sr.stathour &gt;= #{startDay,jdbcType=TIMESTAMP}
    AND sr.stathour &lt; #{endDay,jdbcType=TIMESTAMP}
    GROUP BY d
  </select>

  <!-- 分页选取话务报表列表 -->
  <select id="pageRestHourRecordList" resultType="map" parameterType="Page">
    <include refid="com.e9cloud.pre"/>
    SELECT r.stathour, '专线语音' AS businessName, ua.sid, ac. NAME AS companyName, r.abline, sum(r.callcnt) callcnt, sum(r.succcnt) succcnt,
    CONCAT( CAST(( sum(r.succcnt) / sum(r.callcnt)) * 100 AS DECIMAL (5, 2)), '%' ) AS callCompletingRate,
    CONCAT( CAST(( sum(r.answercnt) / sum(r.callcnt)) * 100 AS DECIMAL (5, 2)), '%' ) AS answerRate,
    sum(r.thscsum) thscsum, sum(r.jfscsum / 60) jfscsum, sum(r.jflyscsum / 60) jflyscsum, sum(r.fee) fee, sum(r.recordingfee) recordingfee, sum(r.rcd_time) rcd_time,
    CASE WHEN sum(succcnt) = 0 THEN '0' ELSE ROUND( SUM(thscsum) / sum(succcnt), 0 ) END AS pjsc,
    CASE WHEN sum(r.rcd_bill_cnt) = 0 THEN '0' ELSE CONCAT( CAST(( sum(r.rcd_cnt) / sum(r.rcd_bill_cnt)) * 100 AS DECIMAL (5, 2)), '%' ) END AS rcRate
    FROM stat_rest_hour_record r, tb_user_admin_authen_company ac, tb_user_admin ua
    WHERE r.feeid = ua.feeid AND ua.uid = ac.uid

    <if test="params.companyName != null and params.companyName != ''">
      and ac.name LIKE "%"#{params.companyName,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.sid != null and params.sid != ''">
      and ua.sid = #{params.sid,jdbcType=VARCHAR}
    </if>

    <if test="params.abline != null and params.abline != ''">
      and r.abline = #{params.abline,jdbcType=VARCHAR}
    </if>

    <if test="datemin != null">
        AND DATE_FORMAT(r.stathour,'%y-%m-%d %h%m%s') &gt;= DATE_FORMAT( #{datemin,jdbcType=TIMESTAMP},'%y-%m-%d %h%m%s')
    </if>
    <if test="datemax != null">
        AND DATE_FORMAT(r.stathour,'%y-%m-%d %h%m%s') &lt;= DATE_FORMAT( #{datemax,jdbcType=TIMESTAMP},'%y-%m-%d %h%m%s')
    </if>
    <if test="params.reportType==3">
      GROUP BY sid,ac.name,r.abline,DATE_FORMAT(r.stathour,'%y-%m-%d %h%m%s')
    </if>
    <if test="params.reportType==0 or params.reportType ==null">
      GROUP BY sid,ac.name,r.abline,DATE_FORMAT(r.stathour,'%%y-%m-%d %h%m%s')
    </if>
    ORDER  BY r.stathour DESC,ua.sid  DESC,r.abline DESC
    <include refid="com.e9cloud.suf"/>
  </select>


  <!-- 分页选取话务报表列表 -->
  <select id="downloadHourTeleReport" resultType="map" parameterType="Page">
    SELECT r.stathour, '专线语音' AS businessName, ua.sid, ac. NAME AS companyName, r.abline, sum(r.callcnt) callcnt, sum(r.succcnt) succcnt,
      CONCAT( CAST(( sum(r.succcnt) / sum(r.callcnt)) * 100 AS DECIMAL (5, 2)), '%' ) AS callCompletingRate,
      CONCAT( CAST(( sum(r.answercnt) / sum(r.callcnt)) * 100 AS DECIMAL (5, 2)), '%' ) AS answerRate,
      sum(r.thscsum) thscsum, sum(r.jfscsum / 60) jfscsum, sum(r.jflyscsum / 60) jflyscsum, sum(r.fee) fee, sum(r.recordingfee) recordingfee, sum(r.rcd_time) rcd_time,
      CASE WHEN sum(succcnt) = 0 THEN '0' ELSE ROUND( SUM(thscsum) / sum(succcnt), 0 ) END AS pjsc,
      CASE WHEN sum(r.rcd_bill_cnt) = 0 THEN '0' ELSE CONCAT( CAST(( sum(r.rcd_cnt) / sum(r.rcd_bill_cnt)) * 100 AS DECIMAL (5, 2)), '%' ) END AS rcRate
      FROM stat_rest_hour_record r, tb_user_admin_authen_company ac, tb_user_admin ua
    WHERE r.feeid = ua.feeid AND ua.uid = ac.uid

    <if test="params.companyName != null and params.companyName != ''">
      and ac.name LIKE "%"#{params.companyName,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.sid != null and params.sid != ''">
      and ua.sid = #{params.sid,jdbcType=VARCHAR}
    </if>

    <if test="params.abline != null and params.abline != ''">
      and r.abline = #{params.abline,jdbcType=VARCHAR}
    </if>

    <if test="datemin != null">
      AND DATE_FORMAT(r.stathour,'%y-%m-%d %h%m%s') &gt;= DATE_FORMAT( #{datemin,jdbcType=TIMESTAMP},'%y-%m-%d %h%m%s')
    </if>
    <if test="datemax != null">
      AND DATE_FORMAT(r.stathour,'%y-%m-%d %h%m%s') &lt;= DATE_FORMAT( #{datemax,jdbcType=TIMESTAMP},'%y-%m-%d %h%m%s')
    </if>
    <if test="params.reportType==3">
      GROUP BY sid,ac.name,r.abline,DATE_FORMAT(r.stathour,'%y-%m-%d %h%m%s')
    </if>
    <if test="params.reportType==0 or params.reportType ==null">
      GROUP BY sid,ac.name,r.abline,DATE_FORMAT(r.stathour,'%%y-%m-%d %h%m%s')
    </if>
    ORDER  BY r.stathour DESC,ua.sid  DESC,r.abline DESC
  </select>

</mapper>