html,body,section,#sec_main,.main1,.main2,.main3{height: 100%}
html,body{min-width:1490px;}
*{margin: 0;padding: 0;}
body{
     position:relative;
     font-family: "Microsoft Yahei";
     font-size: 14px;
     background:#F8F8F8;
     background: url("../img/bg.png") repeat;
}
ul,dl,ol,dt,dd,li{list-style:none;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
.f_left{float:left;}
.f_right{float:right;}
.clear{clear:both;}
a{text-decoration: none;}
a:focus{outline: none;-moz-outline:none;}
input{border:1px solid #D7D7D7;color:#666666;}
h4{font-size: 16px;}
select,textarea{border:1px solid #D7D7D7;color:#666666;}
button{font-family: "Microsoft Yahei" !important;}
/*********************页头样式*********************/
.header{/*position:fixed;z-index:100;*/background:#111111;width:100%;height:80px !important;clear:both;}
.headBox{width:1490px;}
.img_box{display: inline-block;}
.fontBox{display: inline-block;height:80px;}
.logo{display: inline-block;margin-top:15px;}
.nav_title{display:inline-block;width:80px;letter-spacing:1px;text-align:center;font-size:18px;color:#fff;}
.nav_title:hover{color:#054DDB;text-decoration: none;}
.FirstPageWidth{margin-left:40px;}
.width_Pro{margin-left:24px;}
.width_API{margin-left:57px;}
.width_Pri{margin-left:40px;}
.pic{display:inline-block;margin:16px 0 0 100px;vertical-align:7px;}
/*.pic_back{margin-left:2.8em;}*/
/************************遮罩样式*************************/
.shade_on_win{background:black;width:100%;height:100%;position:fixed;z-index: 100;overflow:hidden;opacity:0.5;}
/***********************公共样式********************/
.sm_btn{border:none;width:132px;height:40px;letter-spacing:5px;padding-left:5px;background:#5691e1;font-size: 16px;color:#FFFFFF;}
.sm_btn:hover{background:#4586ce;}
.md_btn{border:none;width:130px;height:40px;letter-spacing:8px;padding-left:12px;background:#5691e1;font-size:16px;color:#FFFFFF;font-family: "Microsoft Yahei";}
.md_btn:hover{background:#4586ce;}
.lg_btn{border:none;width:420px;height:50px;letter-spacing:5px;padding-left:5px;background:#5691e1;font-size: 18px;color:#FFFFFF;}
.lg_btn:hover{background:#4586ce;}
.cancel_btn{border:1px solid #ADADAD;width:132px;height:40px;letter-spacing:5px;padding-left:5px;font-size: 16px;background:transparent;color:#54545D;}
.cancel_btn:hover{background:#CCCCCC;}
.input_style{width:180px;height:28px;text-align: center;}
.modal_input_style{width:200px;height:25px;padding-left:5px;letter-spacing: 1px;font-size: 15px;}
.sm_input_style{width:166px;height:28px;text-align: center;}
.l_input_style{padding-left:5px;width:285px;height:28px !important;}
select{width:170px;height:30px;text-align: center;letter-spacing: 2px;}
.select_style{width:140px;}
option{height:28px;text-align: center;}
.table_style{margin-bottom:30px;border:1px solid #AAAAAA;border-collapse:collapse;width:1185px;}
.table_style thead tr{background:#F1F1F1;}
.table_style tr{height:40px;line-height:40px;}
.table_style th{border:1px solid #D7D7D7;font-size:14px;letter-spacing:5px;color:#666666;font-weight: normal;}
.table_style td{border:1px solid #D7D7D7;text-align: center;letter-spacing: 1px;color:#666666;}
.table_style td>button{outline: none;-moz-outline:none;font-size: 13px;letter-spacing: 1px;}
.table_style td>a{color:#586DFD;font-weight: normal;}
.open_down_billed{display:inline-block;margin-right:2px;font-size:16px;color:#0033ff;cursor:pointer;}
.download_txt{margin-right:10px;background:url("../img/download_icon%20.png") 0 0 no-repeat;vertical-align: middle;}
.check_font{color:#666666;letter-spacing: 2px;font-weight: normal;}
.browse{border:none;width:100px;height:30px;background:#5691e1;color:#FFFFFF;letter-spacing: 5px;}
.browse:hover{background:#4586ce;}
.SmTop{margin-top:35px;}
.turnPage{margin-bottom:30px;}
.turnPage>b{margin-right:8px;cursor: pointer;}
.pageFont{margin-right:10px;}
.firstPageTxt{background:url("../img/firstpage.png") 0 0 no-repeat;vertical-align:middle;cursor:pointer;}
.nextPageTxt{background:url("../img/forntpage.png") 0 0 no-repeat;vertical-align:middle;cursor:pointer;}
.frontPageTxt{background:url("../img/nextpage.png") 0 0 no-repeat;vertical-align:middle;cursor:pointer;}
.lastPageTxt{background:url("../img/lastpage.png") 0 0 no-repeat;vertical-align:middle;cursor:pointer;}
.show_page{max-width:50px;min-width:27px;height:27px;line-height:27px;text-align:center;color:#666666;}
.flipTxt{background:url("../img/jump.png") 0 0 no-repeat;vertical-align:middle;cursor: pointer;}
.parentPosition{position: relative;}
.childPosition{position: absolute;left:0;width:98px;height:28px; opacity: 0;cursor:pointer;}
/************************section样式*****************************/
#sec_main{width:1490px;}
.main1,.main2,.main3{float:left; /*margin-top:80px;*/height:100%;}
.main1{/*position:fixed;*/z-index:10;width:120px;background:#616A73;text-align: center;}
.main1 li{border-bottom:1px solid #494F55;height:160px;line-height: 150px;text-align: center;}
.main1 li>a{display:inline-block;width:120px;height:130px;letter-spacing:1px;color:#202B42;font-size: 18px;font-weight:bold ;text-decoration:none !important;}
.main1 .sec_img{display:inline-block;width:70px;height:70px;margin-top:0.2em;}
.main1 .sec_im1{background:url("../img/zhxx.png") 0 0 no-repeat;}
.main1 .sec_im2{background:url("../img/znydd.png") 0 0 no-repeat;}
.main1 .sec_im3{background:url("../img/kfjk.png") 0 0 no-repeat;}
.main1 .font{display:block;margin-top:-6.5em;color:#141620;letter-spacing: 2px;}
.hover{background:#5691E1;}
.main2{/*position:fixed;margin-left:120px;*/z-index:10;width:160px;background:#EFF0F2;}
/*.main2 summary{ font-size: 16px;font-weight: bold;margin:15px 0 20px 20px;}*/
.TriTB{background:url("../img/triangleTB.png") 0 0 no-repeat;margin-right:5px;}
.TriTR{background:url("../img/triangleTR.png") 0 0 no-repeat;margin-right:5px;}
.left-common>span{display:inline-block;margin:20px 0 20px 10px;font-size:18px;color:#000000;cursor:pointer;}
.left>a{display:block;padding-left:10px; margin:0 0 0.8em 2.5em;width:108px ;height:28px;line-height:28px;letter-spacing:2px;color: #737476;font-size:16px;text-decoration:none;}
.left>a:hover{text-decoration:none;}

.p_hover{background:#5691E1;color:#ffffff !important;}
.main3{/*position:relative;margin-left:280px;*/width:81%;background:#F8F8F8;}
/******************公共样式*****************/
.container{background:#F8F8F8;}
.msg{margin-left:15px;padding-bottom:8px;border-bottom:1px solid #7B7B81;height:40px;clear:both;}
.msg h3{float:left;letter-spacing: 3px;font-size: 24px;font-weight:normal;}
.msg p{float:right;height:50px;line-height: 50px;font-size:16px;}
.msg i{display:inline-block;width:28px;height:28px;margin-right:0.5em;background:url("../img/wdxx%20.png")0 0 no-repeat;vertical-align: middle;}
.msg p>a{color:#303030;}
.msg p>a:hover{color:#1C69BB;}
.box{clear:both;}
.box i{color:#5B5B5B;}
.common_icon{display:inline-block;width:28px;height:28px;}
.lg_common_icon{display:inline-block;width:24px;height:24px;}
.Error_msg{margin-left:10em;font-size:0.5em;font-weight:600;color:#FE8180 !important;}
.Error1_msg{font-size:0.5em;font-weight:600;color:#FE8180 !important;}
label.error{display:inline-block;background:url("../img/cuo.png") 0 0 no-repeat;padding-left:1.8em;color:#EA5153 !important;font-weight:normal;font-size:1.1em !important;height:1.6em;}
label.tip_text{display:inline-block;background:url("../img/dui.png") 0 0 no-repeat;padding-left:1.8em;width:22px; height:22px;vertical-align: middle;}
/*label.error{font-size:0.95em !important;font-weight:600;color:#FE8180;}*/
input.error{border:1px solid #FF0000 !important;}
/******************基础信息页面样式********************/
.base_main{margin:1.5em 0 0 4em;}
.base_main .common_msg{font-size:18px;margin-top:2em;letter-spacing:2px;}
.base_main .common{display:inline-block;font-size:16px;margin:1.1em 1.1em 1.1em 3.5em;letter-spacing:2px;}
.base_main .common_main{font-size: 16px;margin:0 8.5em 0 1.4em;letter-spacing:1px;color:#B5B5B5;}
.com_main{font-size: 16px;margin:0 8.5em 0 1.4em;letter-spacing:1px;color:#555555;}
.base_main .common_tip{font-size:1.1em;}
#qq{margin-left:4.7em;}
#address{margin-left:1.6em;}
#left{margin-left:2.5em;}
.left_tip{margin-left:3.0em;font-style: italic;}
.base_btn_left{margin:2.0em 0 0 16.1em;}
.container1 .tooltip_btn{border:none;width:120px;height:30px;line-height:30px;background:#5691e1;letter-spacing:1px;font-size:15px;color:#fff;}
.tooltip_btn:hover{background:#4586ce;}
.container1 .bd_btn{border:none;border-radius: 2px;color:#fff;margin-left:1.1em;}
.base_txt{margin-right:5px;background:url("../img/base_msg.png") 0 0 no-repeat;vertical-align: -0.4em;}
.other_txt{margin-right:5px;background:url("../img/other_msg.png") 0 0 no-repeat;vertical-align: -0.4em;}
.fixed{display:inline-block;margin-top:0.9em !important;margin-right: 1.5em !important;width:300px;}
.qq_left{margin-left:4em !important;}
.c_right{margin-left:-.02em !important;}
.alter_txt{background:url("../img/alter_icon.png") 0 0 no-repeat;vertical-align: -0.4em;}
.state_txt{margin-right:5px;background:url("../img/statePic.png") 0 0 no-repeat;vertical-align: -0.4em;}
.alert_base_msg{margin-left:500px;font-size:0.9em;color:#424242;}
.alert_base_msg:hover{text-decoration: none;}
.linkman{font-size: 13px;color:#A4A4A4;}
.purple{color:#2B4BFC;}
.disableCss{cursor:default;pointer-events:none;background:#afafaf !important;}
/******************消息提醒弹层***************************/
/*更换邮箱*/
.mdl_center{margin-left:4em;}
.mdl_pt_body .center{margin:2em 0 2em 7.6em;font-size:1.1em;color:#111111;}
.Error_left{margin-left:4em;margin-bottom:5px;}
.mdl_pt_body .la_color{margin-right:10px;font-size:1.1em;color:#111111 !important;}
.yzm_lf{margin:0.5em 0 0.5em 3.7em !important;}
p.yzm_left{margin:10px 0 50px 60px;font-size:13px;letter-spacing: 1px;}
/*更换手机号码*/
.ph_left{margin-left:3.1em;}
.get_t_b{margin:0.5em 0 0.5em 0.25em !important;}


/*******************认证信息页面样式*************************/
.validation_msg{margin:1.1em 0 0 4.5em;}
.validation_msg_box{margin-left:-48px;height:80px;font-size:15px;background:#FEE4A9;}
.msgBoxNoColor{margin-left:-48px;height:80px;font-size:15px;}
.first_p_top{padding-top:8px;}
.validation_msg .black{margin:5px 0 0 50px;color:#342E1F;letter-spacing:1px;}
.validation_msg .white{margin:5px 0 0 50px;color:#868686;letter-spacing:1px;}
.validation_msg .id_test{margin:1.2em 0 1.2em 0;letter-spacing:2px;font-size:1.3em;color:#000000;}
.cpy_qualification{margin:1.2em 0 1.2em 0;font-size:16px;}
.qualification_top{display:inline-block;vertical-align:3px;font-size:18px;letter-spacing:1px;color:#000000;}
.cpy_intro>label,.cpy_intro>select{margin-right:20px;}
.gs{margin-left:-10px;font-size: 16px;}
.organ_msg_common{font-size: 15px;}
.warpper{margin:0 0 0 4em;}
.warpper .developers{margin-bottom:1.5em;}
.developers input{margin:0 1.5em 0 1.6em;vertical-align:middle;}
.warpper .common,#personal label,.company label{font-size:16px;letter-spacing:2px;}
#personal .common1{margin-bottom:1.8em;}
#uname,#id_num{line-height:1.5em;font-size:1.1em;text-align: center;}
#id_card{font-size:1.3em;width:6em;}
#organ_card,#TAX_Card,#tax_CD{line-height: 1.8em;vertical-align:top;border:1px solid #A9A9A9;width:240px;}
.p_Top{margin:0 0 3em 8em;font-style:italic;color:#505050;}
.save .left{margin:1.2em 0 0 5em;}
.id_left{margin-left:18em !important;}
.id_left>img{vertical-align:-5px;}
.test_msg_common{margin-left:1.3em;font-size:15px;letter-spacing:1px;color:#868686;}
.input_bottom{vertical-align:-1px !important;}
.sample_photo{margin:-0.8em 0 0 6em;}
.certificate_btn{margin:20px 0 50px 112px;}
.intro_msg_common{margin-left:-1px;!important;letter-spacing:1px;font-size: 15px;color:#868686;}
.label_right{margin-right:37px !important;}
.label_left{margin-left:-17px;}
.register_right{margin-right:37px !important;}
.tax_left{margin-left:-17px;}
.attestation{margin:50px 0 0 35px;}
.att_icom{display: inline-block;margin-right:10px;width:46px;height:44px;background:url("../img/approve_icon.png") 0 0 no-repeat;}
.att_tip{display:inline-block;letter-spacing:2px;font-size: 20px;vertical-align:12px;color:#111111;}
.Legal_bottom{margin-bottom:30px;}
i{color:#666666 !important;}
.company input{margin-bottom:1.5em;vertical-align: -0.7px; line-height: 1.5em;}
#cpy_name,#cpy_addr,#cpy_number,#cpy_web{margin-left:1.2em;}
.organization label{margin-right:20px;}
.organization{border-top:1px dashed #B8B9B9;border-bottom:1px dashed #B8B9B9;margin:1.5em 0 2em 0;padding-top:1.5em;}
#industry{font-size:1.3em;margin: 0 0 0 1.0em;width:8em;vertical-align: top;}
#organ_card,#TAX_Card{margin-bottom:0 !important;}
.certificate{vertical-align: top !important;margin-top:5px;margin-right:5px;}
.organ_msg_common{margin-right:30px;font-size:14px;}
.p_left{margin-top:-1.2em;margin-left:8em;border:1px solid #959595;width:220px;}
.pp_left{margin:0 0 1em 7em;}
.confirm .left{margin-left:5.8em;}
.company label{display:inline-block; margin-bottom:0.9em;color:#111111;}
.company .test_cpy_common{margin-left:0;}
.company i{color:#000000;}

/******************密码设置页面样式******************/
.container3 .reset_paw{margin:80px 0 0 50px;}
.paw_bottom{margin-bottom:25px;}
.set_paw_left{margin-left:90px !important;}
.reset_paw label,.paw_strong span{font-size:16px;}
.old_paw,.new_paw,.re_enter_paw{margin-right:8px;border:1px solid #B9BABA;border-radius: 2px;font-size: 1.1em;}
.re_enter_paw{margin-left:5px;}
.old_paw,.new_paw{margin-left:2.8em;}
.paw_strong span{float:left;}
.paw_btn{margin:3.5em 0 0 7.6em;}


/********************账户主页样式************************/
.Ac_information,.de_account{margin:2em 0 0 1.5em;}
.Ac_information .Ac_balance{float:left;}
.Ac_information{margin-bottom:4em;}
.coupons{max-width:100%;margin:2em 0 1.2em 1.2em;}
.Ac_balance{margin-right:5px;width:379px;height:200px;border:1px solid #E8E8E8;background:#F0F0F0;}
.Ac_information .common_size{margin:1em 0 1.2em 1.2em;font-size:20px;letter-spacing:3px;color:#111111;}
.common_size>i{margin-right:0.5em;}

.clear_f{margin-right:15px;}
.ac_je>span{display:inline-block;margin-top:35px;min-width:150px;font-size:38px;color:#5691E1;}
.ac_zhye>span{margin-left:80px;}
.ac_yc>span{margin-left:130px;}
.ac_yc>span{margin-left:130px;}
.ac_tm>span{margin-left:110px;}
.zh_test{display:inline-block;margin: 15px 0 0 80px;letter-spacing:2px;font-size:14px;}
.zh_test>a{margin-left:50px;letter-spacing:1px;color:#F72424;font-weight:600;}
.common_num{display:inline-block;min-width:130px;font-size:1em;color:#5691E1;}
.month_consume{margin-left:2.5em;border-left:1px dashed #C4C4C4;}
.pig{background:url("../img/zhye.png") 0 0 no-repeat;vertical-align: -0.3em;}
.y_txt{background:url("../img/Y_consume.png") 0 0 no-repeat;vertical-align: -0.3em;}
.m_txt{background:url("../img/M_consume.png") 0 0 no-repeat;vertical-align: -0.3em;}
.de_txt{margin-right:5px;background:url("../img/ID_test%20.png") 0 0 no-repeat;vertical-align: -0.3em;}
.kpje_txt{background:url("../img/kkpje.png") 0 0 no-repeat;vertical-align: -0.3em;}
.de_account{padding-top:2em; clear:both;}
.de_m_account{display:inline-block;letter-spacing:2px;margin-bottom:1.5em;font-size:1.4em;color:#333333;}
.de_m_account>i{margin-right:0.5em;}
.de_account>p,.de_account .left{margin-left:2em;font-size:1.3em;}
.de_com_c{margin-bottom:25px;letter-spacing:1px;}
.de_border{border-top:1px solid #D5D5D5;padding:15px 0;border-bottom:1px solid #D5D5D5;}
.de_com_top{display: inline-block;margin-top:5px;font-size:14px;color:#555555;}
.de_account .phone_test_btn{margin-left:3em;font-size:1em !important;background:#fff;color:#1C69BB;}
.ph_test_btn{margin-left:350px;padding-left:8px;margin-top:-23px;width:110px;height:35px;line-height:35px;font-size:16px;letter-spacing:8px;border:none;background:#5691E1;color:#ffffff;}
.ph_test_btn:hover{background:#4586ce;}
.ph_test_btn{margin-left:350px;padding-left:8px;margin-top:-23px;width:110px;height:35px;line-height:35px;font-size:16px;letter-spacing:8px;border:none;background:#5691E1;color:#ffffff;}
.modal-box{position:absolute;top:330px;left:560px;z-index:200;border:1px solid #DDDDDD;width:580px;height:350px;background:#FFFFFF;}
.modal_head{position:relative;}
.modal_head>h4{letter-spacing:2px;margin-left:1.5em;}
.close_txt{background:url("../img/close.png") 0 0 no-repeat;}
.modal_head .p_right{position:absolute;top:-5px;left:545px;}
.mdl_pt_body{margin:1.5em 0 2em 3.7em;}
.mdl_pt_body .phone_btn{margin:5px 0 5px 136px;width:300px;}
.phone_t_code label{color:#20202A;}
.IpCode,.TeCode{letter-spacing: 1px;font-size: 15px;}
.center{letter-spacing:2px;}
.phone_t_code .get_test_code{width:9em;height:2.3em;margin:1em 0 1em 2px;border:none;background:#5691E1;color:#FAFBFD;font-size:0.9em !important;letter-spacing: 1px;}
.phone_t_code .get_test_code:hover{background:#4586ce;}
.send_test_code{width:140px;height:2.3em;line-height:2.3em;border:none;margin:1em 0 1em 0;font-size:0.9em;background:#AAAAAA;color:#FAFAFA;letter-spacing: 1px;}
.mdl_foot{margin-left:12em;}
.mdl_foot>button{width:128px;height:40px;font-size:16px;letter-spacing:4px;}
.mdl_foot .true{margin-right:2em;border:none;background:#5691e1;color:#fff;}
.mdl_foot .true:hover{background:#4586ce;}
.mdl_foot .false{background:transparent;border:1px solid #BBBBBB;color:#555555;}
.mdl_foot .false:hover{background:#CCCCCC;}
.f_top{margin-top:-1.8em;}
/*手机验证成功样式*/
.test_success{margin:8.5em 0 0 1em;}
.test_success>span{font-size:1.7em;letter-spacing: 4px;color:#333333;}
.success_txt{background:url("../img/suceess_icon.png") 0 0 no-repeat ;vertical-align: -0.3em;margin-right:0.8em;}
.fail_txt{background:url("../img/fail_icon.png") 0 0 no-repeat ;vertical-align: -0.5em;margin-right:0.8em;}
.test_success_left{text-align: center;margin-right:70px;}
.Error_box{margin:8px 0 0 138px;width:230px;height:30px;}
.errorLeft{margin-left:60px;}
/*消息提醒*/
.nomsg_txt{background:url("../img/wdxx%20.png") 0 0 no-repeat;vertical-align: -0.6em;margin-right:0.5em;}
.sm_font{margin:2em 0 3.5em 4.5em;letter-spacing:2px;color:#000000;font-size:15px;}
.nordmsg_center{margin:0 2.5em 2.5em 0;text-align: center;}
.red_font{font-size: 4em;color:#FE5857;}
.unit{margin-left:0.5em;color:#000000;font-weight:600;}
.qu_reading{margin-left:6em;border:none;width:300px;height:35px;letter-spacing:20px;font-size:16px;background:#5691E1;color:#fff;font-weight: 600;}
.qu_reading:hover{background:#4586ce;}
/*重置页面*/
.T_rest{margin-top:60px;}
.T_rest p{margin-bottom:10px;letter-spacing:1px;color:#000000;}
.TOKEN_TOP{margin:30px 0 30px 0;color:#363842;}

/*********************账户充值页面样式**********************/

.pro_main{margin:1.6em 0 0 1.2em;}
.pro_main .cz_process{margin-bottom:1em;}
.pro_main .common_font{font-size:1.4em;color:#111111;}
.lc_txt{background:url("../img/consume_pro.png") 0 0 no-repeat;margin-right:0.5em;vertical-align: -0.3em;}
.coupons_step{margin-bottom:1.8em;}
.coupons_step span{display:inline-block;width:231px;height:40px;border:1px solid #DDDDDD;text-align: center;line-height: 40px;font-size:15px;letter-spacing:2px;color:#111111;background:#F6F6F6;}
.coupons_inst .f_left{float:left;}
.coupons_inst .m_left{margin-left:4em;}
.m_left>div{margin-bottom:1.5em;}
.m_left>div:first-child{margin-top:1.5em;}
.m_left .avail_amount{margin-left:1.3em;color:#FD1618;font-size:1.1em;}
.m_left input{margin-left:3px;padding-left:5px;line-height:1.5em;font-size:1.1em;}
.c_font{font-size:1.1em;}
.m_left .Ac_btn{margin-left:7.2em;border:none;width:110px;height:30px;letter-spacing:2px;background:#5691E1;color:#EAF0FA;}
.m_left .Ac_btn:hover{background:#4586ce;}
.pay_method>a{position:relative;display:inline-block;width:100px;height:25px;border:1px solid #DDDDDD;text-align: center;line-height:25px;margin-left:1.5em;color:#444444;}
.hover_border{border:1px solid #70A1E5 !important;box-shadow: 0 0 1px 1px #70A1E5;font-weight: 600;}
.pay_method>a:hover{text-decoration:none;cursor:pointer;}
.pay_method .right_icon{display:none;position:absolute;width:18px;height:12px;background:url("../img/angle.png") 0 0 no-repeat;top:1em;left:5.9em;}
.inst_model{width:550px; height:180px;border:1px solid #DDDDDD;}
.inst_model>span{display: inline-block;margin:1.5em 0 1.2em 1.5em;}
.inst_model>p{margin-left:2em;font-size:1em;letter-spacing:3px;color:#888888;}
.bank_pro{clear:both;}
.bank_pro>span{display:inline-block;margin:3em 0 1em 0;}
.open_ac_intro{width:1180px;border:1px solid #DDDDDD;padding-top:1.2em;}
.open_ac_intro>p{margin-left:1.8em;letter-spacing:2px;color:#888888;}
.bank_pro>p{margin:1em 0 0 1em;font-style:italic;font-size:12px;color:#888888;}


/********************消息管理页面样式***********************/
.msg_management{margin:2em 0 0 1.2em;}
.btn_style{display:inline-block;margin-right:-0.3em;border:1px solid #D7D7D7;width:177px;height:30px;line-height: 30px;font-size: 1.2em;letter-spacing:2px;text-align:center;cursor:pointer;background:#F8F8F8;color:#959595;}
.hover_state_btn{border:1px solid #5691E1;background:#5691E1 !important;color:#FFFFFF !important;}
.msg_management .msg_content{margin-top:0.5em;}
.msg_table{border:1px solid #D7D7D7;width:100%;border-top:none;border-collapse:collapse;}
.msg_table>thead>tr{height:40px;background:#F1F1F1;}
.msg_table>thead>tr>th{border:1px solid #D7D7D7;font-size:14px;letter-spacing:5px;color:#666666;font-weight: normal;}
.msg_table td{color:#666666;letter-spacing: 1px;}
.lg_other_txt{display:inline-block;margin-right:15px;width:36px;height:36px;background:url("../img/no_msg.png") 0 0 no-repeat;vertical-align: -0.4em;}
.no_msg{margin:5em 0 20em 10em;font-size:1.6em;letter-spacing:3px;color:#8C8C8C;}
.table_foot{margin-bottom:30px;border:1px solid #D7D7D7;border-top:none;padding:1em 0 1.2em 0;width:99.85%;color:#888888;}
.table_f1{margin-left:2.5em;}
.table_f1>button{margin-left:0.8em;width:120px;height:2em;border:1px solid #888888;color:#666666;background:#F8F8F8;}
.table_f2{margin-left:18em;}
.table_f2>span{margin-right:0.5em;}
.flip_page{display:inline-block;width:220px;}
.table_f2 button{margin-left:-0.29em;width:40px;height:30px;}
.page_jump{margin-left:20px;color:#000000;}
.page_jump>input{width:60px;height:26px;text-align: center;}
.pagination_btn{vertical-align:1px;}
/*消息样式*/
.msg_table>tbody>tr{height:40px;color:#989898;border-bottom:1px solid #D7D7D7;}
.msg_table>tbody>tr>td:first-child,.msg_table>tbody>tr>td:last-child{text-align:center;}
.msg_table>tbody>tr>td>input{margin-right:0.5em;}
/*弹层样式*/
.notice_content{margin:2.3em 0 0 1em;}
.notice_content>p{color:#777777;}
p.small_font{margin-top:2.5em;margin-bottom:2.5em;font-size:12px !important;}
.blue_font{margin-left:22%;font-size:38px;color:#4084DE;}

/********************充值记录页面样式**************/
.Prepaid_records{margin:1em 0 0 0;}
.record_common_top{margin:30px 0 30px 1.2em;!important;}
.re_question_txt{background:url("../img/question.png") 0 0 no-repeat; vertical-align: middle;margin-right:2px;}
.pr_left{margin-left:34px;}
.pre_btn{margin-left:118px;}
.pre_rates{margin-left:1.2em;margin-top:-20px;}
/*.pre_table{border:1px solid #C1C1C1;border-collapse: collapse;}*/
/*.pre_table td{border:1px solid #C1C1C1;width:288px;height:45px;font-weight:600;font-size:16px;color:#666666;text-align: center;}*/
#credit_record_box{position: absolute;left:30%;top:45%;z-index:120;width:380px;height:50px;text-align:center;background:#FFFFFF;}
.No_credit_record{display:inline-block;margin-top:15px;font-size:28px;font-weight:600;color:#141620;}

/********************资费列表页面样式***************/
.Standard_rates{margin:1em 0 0 1.2em;}
.charges_list{margin-top:2em;margin-bottom:0.5em;}
.stand_common{font-size:16px;letter-spacing:5px;color:#111111;}
.hbRest{margin-right:80px;}
.normal{font-weight:600;color:#15B48E;}
.tr_hover{background:#CBF2DD;}

/*********************发票信息页面样式********************/
.invoice_msg{margin:0.8em 0 0 1.2em;}
.invoice_instructions{padding-left:0.8em;width:1172px;height:175px;background:#FEE4A9;}
.invoice_instructions>p{margin:0.5em !important;letter-spacing: 2px;}
.invoice_instructions p:first-child{padding-top:1em;font-size: 1.1em;}
.invoice_step{margin:1.8em 0 1.8em 0;}
.common_bg{width:381px;height:210px;background:#EEEEEE;}
.invo_font{display:inline-block;font-size: 1.4em;letter-spacing:2px;margin:3em 0 1em 5em;}
.in_left_btn{margin:20px 0 0 130px; letter-spacing: 1px !important;}
.invo_bottom{display:inline-block;margin:0.8em 0 0 0.8em;letter-spacing: 2px;}
.invo_left{margin-left:4em;}
.check_btn{margin-left:588px;}
.invo_left>button{margin-right: 3em;letter-spacing: 1px !important;}
.invoice_lines{display:inline-block;margin:1.2em 0.2em 1.3em 2.6em;min-width:80px;font-size:3em;letter-spacing: 1px;}
.invoice_date{margin-top:2em;}
.invoice_top{margin:1.5em 0 3em 0;}

/*普通发票页面弹层样式*/
.invo_input_height input{height:1.5em;margin-right:0.2em;}
.ordinary_invoice{margin:1em 0 4em 2.5em;}
.ord_left{margin-right:0.8em;}
.common_bottom{margin-bottom:1.8em;}
.invo_common{font-size:13px;letter-spacing: 1px;}
.in_com_left{margin-right:16px;letter-spacing: 1px;!important;}
/*专业发票页面弹层样式*/
.spe_common_size{display:inline-block;margin-top:1em;font-size:0.85em;}
.spe_invo_head>span{margin-left:1.5em;margin-right:1.5em;letter-spacing: 2px;color:#F73939;}
.spe_invo_head>a{color:#6674FE;letter-spacing: 2px;}
.special_invoice{margin:3.8em 0 2.5em 2.6em;}
/*收票人信息*/
.receiver{margin-left:1.1em;}
/*设置定期开票*/
.Warm_prompt{margin-left:-4.4em;padding:1em 0 0 0.5em;height:95px;font-size: 0.75em;background:#FCD109;}
.Warm_prompt>p{margin-bottom:5px;margin-left:1.5em;letter-spacing: 2px;}
.Warm_prompt>p:first-child{font-size:1.3em !important;}
.re_box{margin:2em 0 3em 2em;}
.re_box>input{margin-left:2em;margin-right:0.5em;}
.re_box>label{margin-right:2em;}
.re_left{margin-right:2em;font-size: 16px;}

/*/客户信息修改页面*/
.customer_information{margin:0.5em 0 0 1.5em;}
.customer_common_msg{margin-bottom:1em;letter-spacing:1px;}
.mar_right{margin-right:1.2em;}
.cus_width{display: inline-block;width:5.6em;}
/******************消费总览页面样式****************/
.width{width:1200px;}
.consume_msg{margin:0.5em 0 4em 1.2em;}
.consume_msg_select{margin:15px 0 30px 0;padding-bottom:15px;border-bottom:2px solid #B5B5B5;}
.question_txt{background:url("../img/question.png") 0 0 no-repeat; vertical-align: middle;margin-left:8px;margin-right:80px;}
.consume_msg_select>label{margin-left:8px;color:#4D4D4D;font-size: 16px;}
.consume_msg_select>a{display:inline-block;float:right;color:#1C50FD;font-weight: 600;font-size: 13px;margin:10px -110px 0 0;}
.date_left{margin-left:-25px;}
.ver_middle{vertical-align:-0.5px;}
.consume_msg_table{width:100%;}
.table_first{width:1200px;height:480px;}
.consume_zs,.consume_gl{border:1px solid #C6C6C6;}
.consume_gl{width:360px;height:480px;margin-right:30px;}
.consume_zs{width:800px;height:480px;}
.img_common_top{margin-top:90px;}
.consume_overview_width{margin-left:10px;}
.consume_overview_width>span{display:inline-block;margin-left:50px;min-width:100px;font-size: 64px;color: #5592E0;}
.consume_overview_width>p{margin:40px 0 0 280px;font-size:18px;color:#BABABA;}
.consume_tendency_width{margin-left:10px;width:780px;}
.consume_common_font,.ev_consume_tendency{display:inline-block;font-size:18px;color:#5B5B5B;}
.consume_common_font{margin:20px 0 0 50px;}
.consume_total{margin:80px 0 0 100px;font-size: 15px;}
.consume_total>span:last-child{font-weight:600;color:#555555;}
.table_second{margin-top:60px;}
.ev_consume_tendency{margin-bottom:30px;}
.ev_call_center_zs{width:1200px;}

/******************月结账单页面样式****************/
.bill_msg{margin:0.5em 0 0 1.2em;}
.customer_requirements{padding-left:0.8em;width:1173px;height:60px;background:#FEE4A9;}
.customer_requirements span{display:inline-block;letter-spacing:2px;color:#666666;}
.bill_select{margin-top:30px;}
.bill_select>input{margin-right:50px;}
.acct_btn{margin-left:472px;}
.bill_date{margin:10px 0 20px 0;}

/******************通话记录页面样式****************/
.records_msg{margin:0.8em 0 0 1.2em;}
.record_warm_note{margin-left:1.2em;width:1190px;height:40px;background:#FEE4A9;}
.record_warm_note span{display:inline-block;padding-left:50px;letter-spacing:2px;margin-top:10px;color:#666666;}
.recordNote{width:1185px;height:40px;background:#FEE4A9;}
.recordNote span{display:inline-block;padding-left:50px;letter-spacing:2px;margin-top:10px;color:#666666;}
.RWarmNote{width:1182px;height:40px;background:#FEE4A9;}
.RWarmNote span{display:inline-block;padding-left:50px;letter-spacing:2px;margin-top:10px;color:black;}
.record_select{margin-top:30px;margin-left:-0.8em;}
.zyd_open_width{display:inline-block;margin-right:30px;}
.record_common{margin-bottom:25px;}
.record_btn{margin-left:488px;}
.call_record_btn{margin-left: 55px;}
.Op_record_btn{margin-left:39px;}
.OpBtn{margin-left:72px;}
.zyd_re_btn{margin-left:59px}
.call_left{margin-left:10px;}
.show_left{margin-left:6px;}
.child_ac_left{margin-left:8px;}
.re_span_common{font-weight: 600;color:#666666;}
.record_table>thead>tr{background:#F1F1F1;}
.record_table>thead th{border:1px solid #D7D7D7;letter-spacing:1px;padding: 0 5px;color:#666666;font-weight: normal;}
.record_table{border:1px solid #D7D7D7;border-collapse: collapse;width:1180px;margin-bottom: 10px;}
.record_table>tbody>tr{height:20px;line-height:30px;}
.record_table td{border:1px solid #D7D7D7;height:20px;text-align:center;color:#666666;font-size: 12px; padding: 0 5px;}
.check_condition{margin:280px 0 0 400px;font-size:26px;letter-spacing:3px;color:#8C8C8C;}
.download_msg{font-size:1.6em;color:#333333;letter-spacing:4px ;margin-top:130px; padding-right: 55px;}

/*下载历史话单弹层*/
.download_billed{text-align: center;}
.download_time_right{margin-right:70px;}
.down_common{margin-bottom:25px;}
.down_common>span{margin-right:35px;color:#838383;letter-spacing:2px;}
.down_common>a{font-size: 12px;letter-spacing:2px;color:#5F95E2;}

/******************创建列表页面样式******************/
.create_application{margin:50px 0 0 80px;}
.create_app_common{margin-bottom:30px;}
.create_app_common>b{color:red;}
.create_app_name_note{margin:10px 0 0 118px;font-size:12px;color:#000000;}
.create_app_callback{margin-left:12px;}
.create_app_title_left{margin-right:25px;letter-spacing:1px;font-size:16px;color:#585858;}
.APP_state{margin-left:10px;}
.create_app_common>select{margin-left:2px;!important;}
.URL_sample{margin-top:5px;color:#ACACAC;}
.create_Left{margin:50px 0 0 115px;}
.create_button{margin:50px 0 0 104px;}
.Z_create_button{margin:50px 0 0 113px;}
.create_button>button:first-child{margin-right:40px;}
.Z_create_button>button:first-child{margin-right:40px;}

/******************应用列表页面样式****************/
.application_msg{margin:0.8em 0 0 1.2em;}
.app_note{padding-left:0.8em;width:1172px;height:120px;background:#FEE4A9;}
.zyd_app_note{padding-left:0.8em;padding-top:3px;width:1178px;height:85px;background:#FEE4A9;}
.zyd_app_note>p,.app_note>p{margin:0.5em !important;letter-spacing:2px;color:#666666;}
.app_note p:first-child{padding-top:1em;font-size: 1.1em;}
.app_select{margin:2em 0 1em 0; }
.app_select>select{margin-right:50px;}
.app_btn{margin-left:458px;}
.table_style button{border:none;margin-right:8px;background:#ffffff;color:#3454FD;}
.app_query_btn{margin-left:145px;}

/*应用编辑列表弹层*/
.application_ID{margin-left:13px;font-size:16px;letter-spacing:2px;color:#585858;}
.sm_account{margin-left:28px;}
.callback_address_left{margin-left:113px;}
.callback_address{margin-bottom:2px;letter-spacing:2px;color:#666666;}

/*应用查看列表弹层*/
.callback_URL{margin-top:10px;width:640px;letter-spacing:1px;word-break: break-all;color:#8F8F8F;}
/*应用删除*/
.app_delete_main{margin:60px 0 60px 0;text-align: center;}
.attention{display: inline-block;margin-right:5px;width:24px;height:24px;background:url("../img/attention.png") 0 0 no-repeat;vertical-align:-5px;}
.app_delete_common{font-size:20px;letter-spacing:3px;color:#FE6463;}

/*********************开放接口通话记录页面样式**************/
.Open_interface_record{margin-bottom:25px;}
.Open_interface_record>select{margin-right:5px;}
.calling_time{width:60px;height:28px;border-radius: 1px;text-align: center;}
.minute{margin-right:10px;}
.open_width{display:inline-block;width:600px;}
.OWidth{margin-right:20px;}
/*.re_span_common{font-weight: 600;color:#666666;}*/
/*.re_com_font{font-size: 14px;color:#666666;font-weight: normal;}*/
.recording_download_address{font-weight: 600;color:#717171;}
.record_down{margin-bottom:5px;}
.record_down>a{color:#0D44FF;}
.re_a_color a{font-weight:600;color:#1539FE;}

/********************话务总览和统计页面样式*****************/
.demand{margin:2.8em 0 1.8em 1.2em;}
.demand_left{margin-left:1.8em;}
.c7_common{margin-right:0.5em;letter-spacing:1px;color:#505050;}
.demand_btn{margin-left:60px;}
.hw_btn{margin-left:536px;}
.date{margin-left:1.2em;}
.call_total{border:1px solid #DDDDDD;margin-right:10px;margin-top:0.2em;padding:1em 0.5em 1em 0.5em;margin-bottom:1.8em;width:550px;height:435px;}
.call_total1{border:1px solid #DDDDDD;width:590px;height:435px;margin-top:0.2em;padding:1em 0.5em 1em 0.5em;}
.earth{margin-top:10px;width:580px;height: 450px;}
.c7_com_left{display:inline-block;min-width:500px;margin-right:100px;}
.traffic1,.traffic2{width:280px;height:420px;}
.traffic1{margin-right:20px;}
.tra_common_width,.tra_common_width>i{display:inline-block;vertical-align: middle;}
.tra_common_width{width:100px;height:15px;}
.tra_common_width>i{height:15px;background:#5691E1;margin-top:-5px;}
.tra_common_font{color:#9C9C9C;font-size:15px;}
.tra_top{margin-top:60px;}
.tra_bottom{margin-bottom:25px;}
.sz{width:30%;}
.sh{width:50%;}
.bj{width:90%;}
.xa{width:6%;}
.gz{width:30%;}
.cs{width:70%;}
.nj{width:40%;}
.cd{width:60%;}
.ls{letter-spacing: 2px;color:#505050;}
.on_state,.inbound_breatheOut{margin-top:0.2em;border:1px solid #DDDDDD;padding:1em 0.5em 1em 0.5em;margin-bottom:1.8em;}
.state_btn{margin-bottom:2em;}
.date label{margin:0 5em 0 0.5em;font-size:14px;font-weight:600;}
.area_top{margin:2em 0 0 0;}
.rate_box{margin:2em 0 0.5em 0;}
.call_rate{display:inline-block;margin-right:-4px;border:1px solid #5791E3;width:150px;height:30px;line-height:30px;font-size:16px;letter-spacing:2px;cursor:pointer;text-align:center;text-decoration:none;background:#F8F8F8;color:#408BF2;}
.call_rate:hover{text-decoration:none;}
.rate_hover{color:#FFFFFF;background:#5691E1;!important;}
.download_report{display:inline-block;float:right;margin:0.8em 1em 0 0;letter-spacing:2px;font-weight: 600;color:#1236FC;}
/**************************话务调度页面样式****************/
.scheduling_box{margin:2em 0 0 1.2em;}
.scheduling_bottom{margin-bottom:20px;}
.scheduling_bottom>label{font-size:16px;letter-spacing:2px;color:#000000;}
.sche_width{width:250px !important;}
.sch_right{margin-right:18px;}
.txt_left{margin-left:112px;}
.sch_table{width:1180px;}
.sch_table tbody>tr{height:50px;line-height: 50px;}
.sch_table>thead th{font-weight:normal;font-size:16px;text-align:left;}
.opera_green{font-size:22px;cursor:pointer;}
.opera_green:hover{color:#68E868;}
.opera_red{font-size:22px;cursor:pointer;}
.opera_red:hover{color:red;}
.op_ma_left{margin:0 18px 0 8px;}
.sch_date>label{margin-right:5px;}
.dd_btn{margin-left:112px;}
/****************数据日报***********************/
.Daily{margin-top:40px;}
.Daily_left{margin-left:353px;}
.Daily_table{border:1px solid #939393;border-collapse:collapse;width:1165px;}
.Daily_table tr{line-height:35px;}
.Daily_table td{border:1px solid #939393;text-align: center;}

/**********************铃声管理样式设置***************************/

.ringDroid{margin:1em 0 5em 1em;}
.noPass{color:#E32929;}

/**********************铃声编辑/新建/查看**************************/
.ringEdit{margin:3.5em 0 5em 5.5em;}
.create_ring_name_note{margin:10px 0 0 100px;font-size:12px;color:#000000;}
.ringTip{letter-spacing: 2px;}
.ringCommon{font-size:15px;letter-spacing:2px;}
.ringDownL_icon{display: inline-block;vertical-align:middle;width:28px;height:28px;background:url("../img/ringDownLoad.png") 0 0 no-repeat;}
.ringDownLoad{font-size: 15px;color:#002AFF;letter-spacing:1px;}

/**********************号码管理样式设置***************************/
.numManagement{margin:0 0 3em 1em;}
/******************号码管理>视频会议显号管理样式设置**************/
.numberVideoShow{margin:1.4em 0 3em 1em;}
.videoShow{margin-right:10px;}
.widthSM{width:252px;}
.widthLG{width:403px;}
.Light_grey{height:110px;background:#F3F3F3;}
.dark{height:30px;background:#E2E2E2;}
.lgAdd_txt{background:url("../img/lgAddNum.png") 0 0 no-repeat;vertical-align: middle;}
.addNumTxt{display: inline-block;margin-left:30px;width:56px;height:43px;background:url("../img/addNumTwo.png") 0 0 no-repeat;cursor:pointer;}
.waitCheck_txt{background:url("../img/waitCheckNum.png") 0 0 no-repeat;vertical-align:-8px;}
.userShow_txt{background:url("../img/usedNum.png") 0 0 no-repeat;vertical-align:-8px;}
.noPass_txt{background:url("../img/noPassNum.png") 0 0 no-repeat;vertical-align:-8px;}
.Light_grey:before{content:"";display:table;}
.addNumTop{margin:30px 0 0 80px;}
.numBottom{margin:10px 0 0 75px;letter-spacing: 2px; text-overflow: ellipsis;}
.numBottomL{margin:10px 0 0 110px;letter-spacing: 2px;text-overflow: ellipsis; }
.numCommon{margin:10px 0 0 10px;}
.numMangeComFont{font-size:18px;letter-spacing:2px;}
.numberAmount{display:inline-block;margin-top:10px;min-width:150px;font-size:30px;}
.blueColor{color:#7E57E1;}
.greenColor{color:#4BD170;}
.redColor{color:#FE6060;min-width: 250px!important;}
.dark>span{display:inline-block;margin:7px 0 0 15px;letter-spacing: 2px;}
.checkDetailALL,.smAddNumberADD{display:inline-block;vertical-align:middle;margin-left:147px;width:15px;height:15px;cursor:pointer;}
.checkDetailR{background:url("../img/checkDetailR.png") 0 0 no-repeat;}
.checkDetailB{background:url("../img/checkDetailsB.png") 0 0 no-repeat;}
.smAddNumber{background:url("../img/smAddNumber.png") 0 0 no-repeat;}
.closeNumber{background:url("../img/closeNumber.png") 0 0 no-repeat;}
.checkDetailRL{margin-left:283px;}
.numChecking{margin-top:20px;}
.numberBox{padding-top:10px;border:1px solid #E8E8E8;}
.numberLeft{margin-left:10px;}
.numChecking>span,.numChecking>p{font-size:16px;color:#FD7878;letter-spacing: 1px;}
.numChecking>p{margin:13px 0 0 32px;}
.numberMsg{width:196px;height:20px;color: red; text-align: right;}
.NumberDeal{display:inline-block;width:20px;height:20px;vertical-align: middle;cursor:pointer;}
.delNum_txt{background:url("../img/delNumber.png") 0 0 no-repeat;}
.submission_txt{background:url("../img/submitNumber.png") 0 0 no-repeat;margin-left:65px;}
.numInput{padding-left:5px;width:190px;height:25px;font-size: 15px;letter-spacing:2px;background:#E8EAE9;}
.start{display: inline-block;/*margin-top:15px;*/}
.blueBtn,.greyBtn{border:none;width:30px;height:27px;color:#FFFFFF;font-size:24px;line-height: 26px;}
.blueBtn{background:#5691E1;}
.greyBtn{background:#8F8F8F;}
.operaNumber{margin:0 0 5px 0;}
.fourNumberShow{height:400px;border:1px solid #E8E8E8;overflow-y: scroll;}
.fourNumberShow:before{content:"";display: table;}
.fourNumberLeft,.fourNumberLeftWAIT{margin:10px 0 0 0;}
.fourNumberLeft>p{padding-left:10px;margin-bottom:5px;height:25px;line-height:25px;font-size:15px;letter-spacing: 1px;cursor:pointer;}
.fourNumberLeftWAIT>p{padding-left:10px;margin-bottom:5px;height:25px;line-height:25px;font-size:15px;letter-spacing: 1px;}
.fourWaitCheckNum{height:589px;}
.clearNum_txt{background:url("../img/clearNumber.png") 0 0 no-repeat;}
.clearOperaNumber{margin:10px 0 5px 0;}
.numberBoxBg{border-top:2px solid #EBEBEB;border-bottom:1px solid #D5D5D5;background:#E2E2E2;}
.clearNumber{height:542px;}
.deleteNumberMsg{height:30px; width: 232px; background:red; padding-top:10px; font-size: 14px; font-weight: bolder; letter-spacing:3px;; text-align:center; color:white; display:none; position:absolute;}
.noPassNav{border-top:2px solid #EBEBEB;width:403px;height:46px;background:#E2E2E2;}
.noPassNav>span{display: inline-block;padding-top:11px;width:130px;height:37px;line-height: 37px;text-align:center;letter-spacing:5px;border-left:1px solid #D6D6D6;}
.showTable{border-bottom:1px solid #E7E7E9;width:403px;height:542px;overflow-y:scroll;overflow-x:hidden;}
.showTable{border-bottom:1px solid #E7E7E9;width:403px;height:542px;overflow-y:scroll;}
.numberTAB{border:1px solid #E7E7E9;border-collapse:collapse;width:388px;}
.numberTAB>tr{height:34px;}
.numberTAB td{padding:2px 2px;border:1px solid #E7E7E9;font-size:15px;height:35px;text-align: center;word-break: break-all;}
.addNumHover{background:#D7E3F3;}
.clearNumHover{background:#D3F0DA;}

/**************************批量提交样式*****************/
.numTable{width:510px;border-collapse: collapse;}
.numTable tr{height:30px;}
.numTable td{color:#666666;}
.checkMore{color:#1234FC;}
.questionReason>span{display:inline-block;margin-top:15px; font-size:16px;letter-spacing:1px;color:#666666;}
.questionReason>p{margin-top:5px;color:#666666;}
.questionNum{margin:1.5em 0 0 1em}
.localSubLeft{color:#666666;}
.submitBtn{margin-top:50px;}





