<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AuthenCompany_Mapper" >
  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.AuthenCompany" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="legal_representative" property="legalRepresentative" jdbcType="VARCHAR" />
    <result column="telno" property="telno" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="trade_id" property="tradeId" jdbcType="CHAR" />
    <result column="organization_no" property="organizationNo" jdbcType="VARCHAR" />
    <result column="organization_pic" property="organizationPic" jdbcType="VARCHAR" />
    <result column="tax_reg_no" property="taxRegNo" jdbcType="VARCHAR" />
    <result column="tax_reg_pic" property="taxRegPic" jdbcType="VARCHAR" />
    <result column="business_license_no" property="businessLicenseNo" jdbcType="VARCHAR" />
    <result column="business_license_pic" property="businessLicensePic" jdbcType="VARCHAR" />

    <result column="card_type" property="cardType" jdbcType="CHAR" />
    <result column="credit_no" property="creditNo" jdbcType="VARCHAR" />
    <result column="register_no" property="registerNo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="card_type" property="cardType" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, uid, name, legal_representative, telno, address, website, trade_id, organization_no,
    organization_pic, tax_reg_no, tax_reg_pic, business_license_no, business_license_pic,
    card_type, credit_no, register_no, status, create_date, update_date
  </sql>

  <select id="selectAuthenCompanyById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_admin_authen_company
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getAuthenCompanyById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_user_admin_authen_company
    where uid = ( select uid from tb_authen_company_records  where id =  #{id,jdbcType=INTEGER} )
  </select>


  <resultMap id="authWithDicResultMap" type="com.e9cloud.mybatis.domain.AuthenCompany" extends="BaseResultMap">
    <association property="dicData" column="id" javaType="com.e9cloud.mybatis.domain.DicData">
      <id column="id" property="id" jdbcType="VARCHAR" />
      <result column="dicname" property="name" jdbcType="VARCHAR" />
      <result column="code" property="code" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <select id="selectAuthenCompanyByObject" resultMap="authWithDicResultMap" parameterType="com.e9cloud.mybatis.domain.AuthenCompany" >

    select id,  a.name, legal_representative, telno, address, website, organization_no,organization_pic, tax_reg_no, tax_reg_pic,
    business_license_no, business_license_pic, card_type,credit_no,register_no,create_date, b.name dicname
    from tb_user_admin_authen_company a
    left join
    (select name,code from tb_dic_data where typekey = 'tradeType') b
    on  a.trade_id = b.code
    where 1=1

    <if test="id!=null and ''!=id">
       and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="uid!=null and ''!=uid">
       and uid = #{uid,jdbcType=VARCHAR}
    </if>
    <if test="name!=null and ''!=name">
       and name = #{name,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user_admin_authen_company
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.e9cloud.mybatis.domain.AuthenCompany" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into tb_user_admin_authen_company (id, uid, name,
    legal_representative, telno, address,
    website, trade_id, organization_no,
    organization_pic, tax_reg_no, tax_reg_pic,
    business_license_no, business_license_pic,
    card_type, credit_no, register_no,
    status, create_date, update_date
    )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
    #{legalRepresentative,jdbcType=VARCHAR}, #{telno,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
    #{website,jdbcType=VARCHAR}, #{tradeId,jdbcType=CHAR}, #{organizationNo,jdbcType=VARCHAR},
    #{organizationPic,jdbcType=VARCHAR}, #{taxRegNo,jdbcType=VARCHAR}, #{taxRegPic,jdbcType=VARCHAR},
    #{businessLicenseNo,jdbcType=VARCHAR}, #{businessLicensePic,jdbcType=VARCHAR},
    #{cardType,jdbcType=CHAR}, #{creditNo,jdbcType=VARCHAR}, #{registerNo,jdbcType=VARCHAR},
    #{status,jdbcType=CHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.e9cloud.mybatis.domain.AuthenCompany" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into tb_user_admin_authen_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="legalRepresentative != null" >
        legal_representative,
      </if>
      <if test="telno != null" >
        telno,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="website != null" >
        website,
      </if>
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="organizationNo != null" >
        organization_no,
      </if>
      <if test="organizationPic != null" >
        organization_pic,
      </if>
      <if test="taxRegNo != null" >
        tax_reg_no,
      </if>
      <if test="taxRegPic != null" >
        tax_reg_pic,
      </if>
      <if test="businessLicenseNo != null" >
        business_license_no,
      </if>
      <if test="businessLicensePic != null" >
        business_license_pic,
      </if>
      <if test="cardType != null" >
        card_type,
      </if>
      <if test="creditNo != null" >
        credit_no,
      </if>
      <if test="registerNo != null" >
        register_no,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="pinyin != null" >
        pinyin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="legalRepresentative != null" >
        #{legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="telno != null" >
        #{telno,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="tradeId != null" >
        #{tradeId,jdbcType=CHAR},
      </if>
      <if test="organizationNo != null" >
        #{organizationNo,jdbcType=VARCHAR},
      </if>
      <if test="organizationPic != null" >
        #{organizationPic,jdbcType=VARCHAR},
      </if>
      <if test="taxRegNo != null" >
        #{taxRegNo,jdbcType=VARCHAR},
      </if>
      <if test="taxRegPic != null" >
        #{taxRegPic,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseNo != null" >
        #{businessLicenseNo,jdbcType=VARCHAR},
      </if>
      <if test="businessLicensePic != null" >
        #{businessLicensePic,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=CHAR},
      </if>
      <if test="creditNo != null" >
        #{creditNo,jdbcType=VARCHAR},
      </if>
      <if test="registerNo != null" >
        #{registerNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.e9cloud.mybatis.domain.AuthenCompany" >
    update tb_user_admin_authen_company
    set uid = #{uid,jdbcType=VARCHAR},
    name = #{name,jdbcType=VARCHAR},
    legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
    telno = #{telno,jdbcType=VARCHAR},
    address = #{address,jdbcType=VARCHAR},
    website = #{website,jdbcType=VARCHAR},
    trade_id = #{tradeId,jdbcType=CHAR},
    organization_no = #{organizationNo,jdbcType=VARCHAR},
    organization_pic = #{organizationPic,jdbcType=VARCHAR},
    tax_reg_no = #{taxRegNo,jdbcType=VARCHAR},
    tax_reg_pic = #{taxRegPic,jdbcType=VARCHAR},
    business_license_no = #{businessLicenseNo,jdbcType=VARCHAR},
    business_license_pic = #{businessLicensePic,jdbcType=VARCHAR},
    card_type = #{cardType,jdbcType=CHAR},
    credit_no = #{creditNo,jdbcType=VARCHAR},
    register_no = #{registerNo,jdbcType=VARCHAR},
    status = #{status,jdbcType=CHAR},
    create_date = #{createDate,jdbcType=TIMESTAMP},
    update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.e9cloud.mybatis.domain.AuthenCompany" >

    update tb_user_admin_authen_company
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="legalRepresentative != null" >
        legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="telno != null" >
        telno = #{telno,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="tradeId != null" >
        trade_id = #{tradeId,jdbcType=CHAR},
      </if>
      <if test="organizationNo != null" >
        organization_no = #{organizationNo,jdbcType=VARCHAR},
      </if>
      <if test="organizationPic != null" >
        organization_pic = #{organizationPic,jdbcType=VARCHAR},
      </if>
      <if test="taxRegNo != null" >
        tax_reg_no = #{taxRegNo,jdbcType=VARCHAR},
      </if>
      <if test="taxRegPic != null" >
        tax_reg_pic = #{taxRegPic,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseNo != null" >
        business_license_no = #{businessLicenseNo,jdbcType=VARCHAR},
      </if>
      <if test="businessLicensePic != null" >
        business_license_pic = #{businessLicensePic,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        card_type = #{cardType,jdbcType=CHAR},
      </if>
      <if test="creditNo != null" >
        credit_no = #{creditNo,jdbcType=VARCHAR},
      </if>
      <if test="registerNo != null" >
        register_no = #{registerNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="countCompanyByInfo"  resultType="long"  parameterType="com.e9cloud.mybatis.domain.AuthenCompany" >
    select count(1)
    from tb_user_admin_authen_company
    where 1=1
    <if test="id!=null">
      and id != #{id,jdbcType=INTEGER}
    </if>
    <if test="name!=null and ''!=name">
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="organizationNo!=null and ''!=organizationNo">
      and organization_no = #{organizationNo,jdbcType=VARCHAR}
    </if>
    <if test="taxRegNo!=null and ''!=taxRegNo">
    and tax_reg_no = #{taxRegNo,jdbcType=VARCHAR}
  </if>
    <if test="businessLicenseNo!=null and ''!=businessLicenseNo">
      and business_license_no = #{businessLicenseNo,jdbcType=VARCHAR}
    </if>
    <if test="creditNo!=null and ''!=creditNo">
      and credit_no = #{creditNo,jdbcType=VARCHAR}
    </if>
    <if test="registerNo!=null and ''!=registerNo">
      and register_no = #{registerNo,jdbcType=VARCHAR}
    </if>

  </select>

  <select id="countCompany"  resultType="long"  parameterType="com.e9cloud.mybatis.domain.AuthenCompany" >
    select count(1)
    from tb_user_admin_authen_company
    where 1=1  and uid != #{uid,jdbcType=VARCHAR}

    <if test="organizationNo!=null and ''!=organizationNo">
      and organization_no = #{organizationNo,jdbcType=VARCHAR}
    </if>
    <if test="taxRegNo!=null and ''!=taxRegNo">
      and tax_reg_no = #{taxRegNo,jdbcType=VARCHAR}
    </if>
    <if test="businessLicenseNo!=null and ''!=businessLicenseNo">
      and business_license_no = #{businessLicenseNo,jdbcType=VARCHAR}
    </if>
    <if test="creditNo!=null and ''!=creditNo">
      and credit_no = #{creditNo,jdbcType=VARCHAR}
    </if>
    <if test="registerNo!=null and ''!=registerNo">
      and register_no = #{registerNo,jdbcType=VARCHAR}
    </if>

  </select>

</mapper>