<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AxbNumResPool_Mapper" >
  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.AxbPhone" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cityid" property="cityid" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>


  <resultMap id="CitySelectMap" type="com.e9cloud.mybatis.domain.TelnoCity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ccode" property="ccode" jdbcType="VARCHAR" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, number, cityid, status, addtime, updatetime
  </sql>

  <!-- 查询全部城市 -->
  <select id="selectCitys" resultMap="CitySelectMap" parameterType="map">
    SELECT cname,ccode FROM (
    (SELECT tc.cname,tc.pinyin,tc.ccode
        from tb_axb_num_pool axb LEFT JOIN tb_telno_city tc ON axb.cityid=tc.ccode
        WHERE axb.cityid IN('1','2','3','4')
        ORDER BY area_code)
    UNION
    (SELECT tc.cname,replace(tc.pinyin,'a1','')pinyin,tc.ccode
        from tb_axb_num_pool axb LEFT JOIN tb_telno_city tc ON axb.cityid=tc.ccode
        WHERE axb.cityid NOT IN ('1','2','3','4')
        ORDER BY pinyin ASC)
        )a ORDER BY pinyin
  </select>

  <!-- 分页选取公共号码资源池sipphone列表 -->
  <select id="pageAxbNumList" resultType="map" parameterType="Page">
    <include refid="com.e9cloud.pre"/>
    SELECT axb.id,axb.number,tc.cname,tc.area_code,axb.`status`,axb.updatetime,axb.addtime,ac.name companyName,ua.sid,ai.app_name appName,ai.appid appId
    FROM tb_axb_num_pool axb
    LEFT JOIN tb_telno_city tc ON axb.cityid = tc.ccode AND tc.ctype = 0
    LEFT JOIN tb_axb_num axbn on axb.id = axbn.axb_num_id AND axbn.`status` != '02'
    LEFT JOIN tb_app_info ai ON axbn.appid = ai.appid
    LEFT JOIN tb_user_admin ua ON ua.sid = ai.sid
    LEFT JOIN tb_user_admin_authen_company ac ON ua.uid = ac.uid
    WHERE 1=1

    <if test="params.number != null  and params.number !=''" >
      and axb.number LIKE "%"#{params.number,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.cityid != null and params.cityid !=''" >
      and axb.cityid = #{params.cityid,jdbcType=VARCHAR}
    </if>
    <if test="params.status != null and params.status !=''" >
      and axb.status = #{params.status,jdbcType=CHAR}
    </if>
    <if test="params.sid != null and params.sid !=''" >
      and ua.sid = #{params.sid,jdbcType=VARCHAR}
    </if>
    <if test="params.companyName != null and params.companyName !=''" >
      and ac.name LIKE "%"#{params.companyName,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.appId != null and params.appId !=''" >
      and ai.appid = #{params.appId,jdbcType=VARCHAR}
    </if>
    <if test="params.appName != null and params.appName !=''" >
      and ai.app_name LIKE "%"#{params.appName,jdbcType=VARCHAR}"%"
    </if>
    ORDER BY FIELD(axb.`status`,'00','01','02'),updatetime DESC,addtime DESC
    <include refid="com.e9cloud.suf"/>
  </select>

  <select id="getAxbPhoneById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_axb_num_pool
    where 1=1
    <if test="_parameter!=null and _parameter!=''">
      AND id = #{_parameter,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="getAxbPhoneByAxbPhone" resultMap="BaseResultMap" parameterType="com.e9cloud.mybatis.domain.AxbPhone" >
    select
    <include refid="Base_Column_List" />
    from tb_axb_num_pool
    where 1=1
    <if test="status!=null and status!=''">
      and status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="number!=null and number!=''">
      and number = #{number,jdbcType=VARCHAR}
    </if>
    <if test="cityid!=null and cityid!=''">
      and cityid = #{cityid,jdbcType=VARCHAR}
    </if>
  </select>

  <insert id="insertAxbPhone" parameterType="com.e9cloud.mybatis.domain.AxbPhone" >
    insert into tb_axb_num_pool
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="number != null" >
        number,
      </if>
      <if test="cityid != null" >
        cityid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      replace(uuid(),'-',''),
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <delete id="deleteAxbPhoneByIds" parameterType="java.lang.String" >
    delete from tb_axb_num_pool
    where id IN
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>

  <update id="updateAxbPhoneByStatus" parameterType="com.e9cloud.mybatis.domain.AxbPhone">
    UPDATE tb_axb_num_pool SET status= #{status,jdbcType=VARCHAR} where id = #{id}
  </update>

  <select id="checkAxbNumberMatchAreacode" resultType="long" parameterType="com.e9cloud.mybatis.domain.AxbPhone" >
    select
    count(1)
    from tb_telno_info t
    where areacode = #{areacode,jdbcType=VARCHAR}
    AND #{number,jdbcType=VARCHAR} LIKE CONCAT(t.telno,'%')
  </select>

</mapper>