<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MaskNum_Mapper" >
  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.MaskNum" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="cityid" property="cityid" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, appid, cityid, number, status, addtime, updatetime
  </sql>

  <!-- 根据号码查询隐私号信息 -->
  <select id="selectMaskNumberByNumber" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List"/>
    from tb_mask_num
    where number = #{number,jdbcType=VARCHAR}
  </select>

  <!-- 根据状态查询隐私号信息 -->
  <select id="selectMaskNumberByStatus" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List"/>
    from tb_mask_num
    where status = #{status,jdbcType=VARCHAR}
  </select>


  <!-- ==================== 隐私号信息联表查询 tb_mask_num,tb_city_area_code  start ==================== -->
  <resultMap id="MaskNumUnionResult" type="com.e9cloud.mybatis.domain.MaskNum" extends="BaseResultMap">
    <association property="cityAreaCode" column="id" javaType="com.e9cloud.mybatis.domain.CityAreaCode">
      <id column="id" property="id" jdbcType="VARCHAR" />
      <result column="city" property="city" jdbcType="VARCHAR" />
      <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <!-- 根据条件查询单个隐私号信息 -->
  <select id="selectMaskNumberListUnion" resultMap="MaskNumUnionResult" parameterType="com.e9cloud.mybatis.domain.MaskNum" >
    select a.id, a.appid, a.cityid, a.number, a.status, b.city, b.area_code
    from tb_mask_num a, tb_city_area_code b
    where a.cityid = b.id
    <if test="id!=null and ''!=id">
      and a.id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="appid!=null and ''!=appid">
      and a.appid = #{appid,jdbcType=VARCHAR}
    </if>
    <if test="cityid!=null and ''!=cityid">
      and a.cityid = #{cityid,jdbcType=VARCHAR}
    </if>
    <if test="number!=null and ''!=number">
      and a.number = #{number,jdbcType=VARCHAR}
    </if>
    <if test="status!=null and ''!=status">
      and a.status = #{status,jdbcType=VARCHAR}
    </if>
  </select>

  <!-- 根据条件查询单个隐私号信息 -->
  <select id="selectMaskNumberByObj" resultMap="BaseResultMap" parameterType="com.e9cloud.mybatis.domain.MaskNum" >
    select
    <include refid="Base_Column_List"/>
    from tb_mask_num
    where 1 = 1
    <if test="id!=null and ''!=id">
      and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="appid!=null and ''!=appid">
      and appid = #{appid,jdbcType=VARCHAR}
    </if>
    <if test="cityid!=null and ''!=cityid">
      and cityid = #{cityid,jdbcType=VARCHAR}
    </if>
    <if test="number!=null and ''!=number">
      and number = #{number,jdbcType=VARCHAR}
    </if>
    <if test="status!=null and ''!=status">
      and status = #{status,jdbcType=VARCHAR}
    </if>
  </select>

  <!-- 分页联合查询隐私号信息 -->
  <select id="selectMaskNumberList" resultType="map" parameterType="com.e9cloud.core.page.Page">
    <include refid="com.e9cloud.pre"/>
    select a.id, a.appid, a.cityid, a.number, a.status, b.city, b.area_code
    from tb_mask_num a, tb_city_area_code b
    where a.cityid = b.id
    <!--<if test="params.appid!=null and ''!=params.appid">
      and a.appid = #{params.appid,jdbcType=VARCHAR}
    </if>-->
    and a.appid = #{params.appid,jdbcType=VARCHAR}
    <if test="params.number!=null and ''!=params.number">
      and a.number = #{params.number,jdbcType=VARCHAR}
    </if>
    <if test="params.cityid!=null and ''!=params.cityid">
      and a.cityid = #{params.cityid,jdbcType=VARCHAR}
    </if>
    <!--<if test="params.status!=null and ''!=params.status">
      and a.status = #{params.status,jdbcType=VARCHAR}
    </if>-->
    and a.status in ('01','02')
    <if test="params.city!=null and ''!=params.city">
      and b.city LIKE "%"#{params.city,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.areaCode!=null and ''!=params.areaCode">
      and b.area_code = #{params.areaCode,jdbcType=VARCHAR}
    </if>
    order by a.addtime DESC
    <include refid="com.e9cloud.suf"/>
  </select>

  <!-- 分页联合查询隐私号信息 -->
  <select id="pageMaskNumber" resultType="map" parameterType="com.e9cloud.core.page.Page">
    <include refid="com.e9cloud.pre"/>
    SELECT
    mn.id, mn.appid, mn.cityid, mn.number, mn.`status`, mn.addtime, mn.updatetime, aa.app_name appName, aa.sid, aa.`name` companyName, cac.city, cac.area_code areaCode
    FROM
    tb_mask_num mn LEFT JOIN
    ( SELECT
    ac.`name`,ai.appid,ai.app_name,ua.sid
    FROM tb_user_admin ua
    INNER JOIN tb_user_admin_authen_company ac ON ua.uid = ac.uid
    LEFT JOIN tb_app_info ai on ua.sid = ai.sid
    ) aa
    on mn.appid = aa.appid
    LEFT JOIN tb_city_area_code cac on mn.cityid = cac.id
    WHERE 1 = 1
    <if test="params.appid != null and params.appid != ''">
      AND mn.appid = #{params.appid,jdbcType=VARCHAR}
    </if>
    <if test="params.status != null and params.status != ''">
      AND mn.`status` = #{params.status,jdbcType=VARCHAR}
    </if>
    <if test="params.cityid != null and params.cityid != ''">
      AND mn.cityid =#{params.cityid,jdbcType=VARCHAR}
    </if>
    <if test="params.sid != null and params.sid != ''">
      AND aa.sid = #{params.sid,jdbcType=VARCHAR}
    </if>
    <if test="params.number != null and params.number != ''">
      AND mn.number LIKE "%"#{params.number,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.companyName != null and params.companyName != ''">
      AND aa.`name` LIKE "%"#{params.companyName,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.areaCode != null and params.areaCode != ''">
      AND cac.area_code LIKE "%"#{params.areaCode,jdbcType=VARCHAR}"%"
    </if>
    <include refid="com.e9cloud.suf"/>
  </select>


  <delete id="deleteMaskNumber" parameterType="java.lang.String" >
    delete from tb_mask_num
    where id = #{id,jdbcType=VARCHAR}
  </delete>


  <insert id="insetMaskNumber" parameterType="com.e9cloud.mybatis.domain.MaskNum" >
    insert into tb_mask_num
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="cityid != null" >
        cityid,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="status != null" >
        status,
      </if>
        addtime,
        updatetime,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
        now(),
        now(),
    </trim>
  </insert>

  <update id="updateMaskNumber" parameterType="com.e9cloud.mybatis.domain.MaskNum" >
    update tb_mask_num
    <set >
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        cityid = #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
        updatetime = now(),
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 根据APPID  更改状态 -->
  <update id="updateMaskNumberByAppId" parameterType="java.util.HashMap" >
    update tb_mask_num set
      status = #{status,jdbcType=CHAR},
      updatetime = now()
    where appid = #{appid,jdbcType=VARCHAR}
  </update>
</mapper>