<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Recharge_Records" >
  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.RechargeRecords" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="recharge_time" property="rechargeTime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="collection_time" property="collectionTime" jdbcType="TIMESTAMP" />
    <result column="recharge_type" property="rechargeType" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    status, sid, customer_name, money, recharge_time, operator, comment, collection_time,recharge_type,type
  </sql>

  <insert id="insert" parameterType="com.e9cloud.mybatis.domain.RechargeRecords" >
    insert into tb_recharge_records (status, sid, customer_name, money,
      recharge_time,operator, comment, collection_time, recharge_type,type)
    values (#{status,jdbcType=INTEGER}, #{sid,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR},
      #{money,jdbcType=DECIMAL}, #{rechargeTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR},
      #{comment,jdbcType=VARCHAR}, #{collectionTime,jdbcType=TIMESTAMP}, #{rechargeType,jdbcType=INTEGER},#{type,jdbcType=VARCHAR}
      )
  </insert>

  <select id="selectRechargeRecordsPage" resultType="map" parameterType="Page">
    <include refid="com.e9cloud.pre"/>
    select
    <include refid="Base_Column_List" />
    from tb_recharge_records
    WHERE 1 = 1
    <if test="datemin != null and datemax != null">
      And recharge_time BETWEEN #{datemin,jdbcType=TIMESTAMP} AND #{datemax,jdbcType=TIMESTAMP}
    </if>
    <if test="datemin == null and datemax != null">
      And <![CDATA[recharge_time < #{datemax,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="datemin != null and datemax == null">
      And <![CDATA[recharge_time > #{datemin,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="params.sid != null and params.sid != ''">
      And sid like "%"#{params.sid,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.customer_name != null and params.customer_name != ''">
      And customer_name like "%"#{params.customer_name,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.recharge_type != null and params.recharge_type != ''">
      And recharge_type = #{params.recharge_type,jdbcType=INTEGER}
    </if>
    <if test="params.ctype != null and params.ctype != ''">
      And type = #{params.ctype,jdbcType=VARCHAR}
    </if>
    <if test="sidx != null and sidx != ''">
      order by ${sidx} ${sord}
    </if>
    <include refid="com.e9cloud.suf"/>
  </select>

  <select id="selectRechargeRecordsDownload" resultMap="BaseResultMap" parameterType="Page">
    select
    <include refid="Base_Column_List" />
    from tb_recharge_records
    WHERE 1 = 1
    <if test="datemin != null and datemax != null">
      And recharge_time BETWEEN #{datemin,jdbcType=TIMESTAMP} AND #{datemax,jdbcType=TIMESTAMP}
    </if>
    <if test="datemin == null and datemax != null">
      And <![CDATA[recharge_time < #{datemax,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="datemin != null and datemax == null">
      And <![CDATA[recharge_time > #{datemin,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="params.sid != null and params.sid != ''">
      And sid like "%"#{params.sid,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.customer_name != null and params.customer_name != ''">
      And customer_name like "%"#{params.customer_name,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.recharge_type != null and params.recharge_type != ''">
      And recharge_type = #{params.recharge_type,jdbcType=INTEGER}
    </if>
    <if test="params.ctype != null and params.ctype != ''">
      And type = #{params.ctype,jdbcType=VARCHAR}
    </if>
    <if test="sidx != null and sidx != ''">
      order by ${sidx} ${sord}
    </if>
  </select>

</mapper>