<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RelayResPer_Mapper" >

  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.RelayResPer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="res_id" property="resId" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="call_type" property="callType" jdbcType="VARCHAR" />
    <result column="num_type" property="numType" jdbcType="VARCHAR" />
    <result column="cycle" property="cycle" jdbcType="INTEGER" />
    <result column="per" property="per" jdbcType="DECIMAL" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, res_id, operator, call_type, num_type, cycle, per, addtime, updatetime
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_relay_res_per
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectPersByResId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_relay_res_per
    where res_id = #{_parameter,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_relay_res_per
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="delByResId" parameterType="java.lang.Integer" >
    delete from tb_relay_res_per
    where res_id = #{resId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.e9cloud.mybatis.domain.RelayResPer" >
    insert into tb_relay_res_per
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="resId != null" >
        res_id,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="callType != null" >
        call_type,
      </if>
      <if test="numType != null" >
        num_type,
      </if>
      <if test="cycle != null" >
        cycle,
      </if>
      <if test="per != null" >
        per,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="resId != null" >
        #{resId,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="callType != null" >
        #{callType,jdbcType=VARCHAR},
      </if>
      <if test="numType != null" >
        #{numType,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null" >
        #{cycle,jdbcType=INTEGER},
      </if>
      <if test="per != null" >
        #{per,jdbcType=DECIMAL},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.e9cloud.mybatis.domain.RelayResPer" >
    update tb_relay_res_per
    <set >
      <if test="resId != null" >
        res_id = #{resId,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="callType != null" >
        call_type = #{callType,jdbcType=VARCHAR},
      </if>
      <if test="numType != null" >
        num_type = #{numType,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null" >
        cycle = #{cycle,jdbcType=INTEGER},
      </if>
      <if test="per != null" >
        per = #{per,jdbcType=DECIMAL},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>