<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SipRelayInfo_Mapper" >
  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.SipRelayInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="subid" property="subid" jdbcType="VARCHAR" />
    <result column="relay_num" property="relayNum" jdbcType="VARCHAR" />
    <result column="sub_name" property="subName" jdbcType="VARCHAR" />
    <result column="num_flag" property="numFlag" jdbcType="VARCHAR" />
    <result column="called_type" property="calledType" jdbcType="INTEGER" />
    <result column="max_concurrent" property="maxConcurrent" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="called_limit" property="calledLimit" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, appid, subid, relay_num, sub_name, num_flag, called_type, called_Limit,max_concurrent, status,
    create_time
  </sql>

  <sql id="Page_Column_List" >
    sri.id id, sri.appid appid, sri.subid subid, sri.relay_num relayNum, sri.sub_name subName, sri.num_flag numFlag, sri.called_type calledType, sri.max_concurrent maxConcurrent,
    sri.`status` status, sri.create_time createTime, sr.forever forever, sr.cycle cycle, sr.per6_discount per6Discount, sr.per60_discount per60Discount, sr.perx perx, sb.relay_name relayName
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_sip_relayinfo
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectRelayBySubId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_sip_relayinfo
    where subid = #{subid,jdbcType=INTEGER}
  </select>

  <select id="selectRelayInfoBySubid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_sip_relayinfo
    where subid = #{subid,jdbcType=INTEGER}
  </select>

  <!-- 分页查询 -->
  <select id="pageRelayInfo" resultType="map" parameterType="Page">
    <include refid="com.e9cloud.pre"/>
    select
    <include refid="Page_Column_List" />
    from tb_sip_relayinfo sri
    LEFT JOIN rms_sip_rate sr ON sri.subid = sr.subid
    LEFT JOIN tb_sip_basic sb ON sri.relay_num = sb.relay_num
    WHERE 1 = 1
    AND sri.status = '00' and sb.status = '00'
    <if test="params.appid != null" >
      AND sri.appid = #{params.appid}
    </if>
    <if test="timemin != null" >
      AND sri.create_time &gt;= #{timemin,jdbcType=TIMESTAMP}
    </if>
    <if test="timemax != null" >
      AND sri.create_time &lt;= #{timemax,jdbcType=TIMESTAMP}
    </if>
    <if test="params.subName != null and params.subName != ''" >
      AND sri.sub_name LIKE "%"#{params.subName}"%"
    </if>
    <if test="params.subid != null and params.subid != ''" >
      AND sri.subid LIKE "%"#{params.subid}"%"
    </if>
    <if test="sidx != null and sidx != ''">
      order by ${sidx} ${sord}
    </if>
    <include refid="com.e9cloud.suf"/>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_sip_relayinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.e9cloud.mybatis.domain.SipRelayInfo" >
    insert into tb_sip_relayinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="subid != null" >
        subid,
      </if>
      <if test="relayNum != null" >
        relay_num,
      </if>
      <if test="subName != null" >
        sub_name,
      </if>
      <if test="numFlag != null" >
        num_flag,
      </if>
      <if test="calledType != null" >
        called_type,
      </if>
      <if test="calledLimit != null" >
        called_Limit,
      </if>
      <if test="maxConcurrent != null" >
        max_concurrent,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="subid != null" >
        #{subid,jdbcType=VARCHAR},
      </if>
      <if test="relayNum != null" >
        #{relayNum,jdbcType=VARCHAR},
      </if>
      <if test="subName != null" >
        #{subName,jdbcType=VARCHAR},
      </if>
      <if test="numFlag != null" >
        #{numFlag,jdbcType=VARCHAR},
      </if>
      <if test="calledType != null" >
        #{calledType,jdbcType=INTEGER},
      </if>
      <if test="calledLimit != null" >
        #{calledLimit,jdbcType=INTEGER},
      </if>
      <if test="maxConcurrent != null" >
        #{maxConcurrent,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.e9cloud.mybatis.domain.SipRelayInfo" >
    update tb_sip_relayinfo
    <set >
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="subid != null" >
        subid = #{subid,jdbcType=VARCHAR},
      </if>
      <if test="relayNum != null" >
        relay_num = #{relayNum,jdbcType=VARCHAR},
      </if>
      <if test="subName != null" >
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="numFlag != null" >
        num_flag = #{numFlag,jdbcType=VARCHAR},
      </if>
      <if test="calledType != null" >
        called_type = #{calledType,jdbcType=INTEGER},
      </if>
      <if test="maxConcurrent != null" >
        max_concurrent = #{maxConcurrent,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateBySubidSelective" parameterType="com.e9cloud.mybatis.domain.SipRelayInfo" >
    update tb_sip_relayinfo
    <set >
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="relayNum != null" >
        relay_num = #{relayNum,jdbcType=VARCHAR},
      </if>
      <if test="subName != null" >
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="numFlag != null" >
        num_flag = #{numFlag,jdbcType=VARCHAR},
      </if>
      <if test="calledType != null" >
        called_type = #{calledType,jdbcType=INTEGER},
      </if>
      <if test="calledLimit != null" >
        called_Limit = #{calledLimit,jdbcType=INTEGER},
      </if>
      <if test="maxConcurrent != null" >
        max_concurrent = #{maxConcurrent,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where subid = #{subid,jdbcType=VARCHAR}
  </update>

</mapper>