<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SpApplyNum_Mapper" >
  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.SpApplyNum" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="apply_id" property="applyId" jdbcType="VARCHAR" />
    <result column="sipphone_id" property="sipphoneId" jdbcType="VARCHAR" />
    <result column="sip_phone" property="sipphone" jdbcType="VARCHAR" />
    <result column="fixphone_id" property="fixphoneId" jdbcType="VARCHAR" />
    <result column="number" property="fixphone" jdbcType="VARCHAR" />
    <result column="show_num" property="showNum" jdbcType="VARCHAR" />
    <result column="cityid" property="cityid" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="atime" property="atime" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="auditStatus" jdbcType="CHAR" />
    <result column="audit_common" property="auditCommon" jdbcType="VARCHAR" />
    <result column="audit_time" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="long_distance_flag" property="longDistanceFlag" jdbcType="VARCHAR" />
    <result column="call_switch_flag" property="callSwitchFlag" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id,appid,apply_id,sipphone_id,fixphone_id,show_num,atime,audit_status,audit_common,audit_time,long_distance_flag,call_switch_flag
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tb_sp_apply_num
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="pageApplyList" resultType="map" parameterType="Page">
    <include refid="com.e9cloud.pre"/>
    SELECT a.id,b.sip_phone,c.number,a.show_num,a.audit_status,e.pname,d.cname,b.pwd,b.sip_realm,b.ip_port,a.atime
    FROM tb_sp_apply_num a,tb_sp_sipphone b,tb_sp_fixphone c,tb_telno_city d,tb_telno_province e
    WHERE a.sipphone_id=b.id AND a.fixphone_id= c.id AND b.cityid=d.ccode AND d.pcode=e.pcode
    <if test="params.appid != null and params.appid != ''">
      and a.appid = #{params.appid,jdbcType=VARCHAR}
    </if>
    <if test="params.sipphone != null and params.sipphone != ''">
      and b.sip_phone LIKE "%"#{params.sipphone,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.fixphone != null and params.fixphone != ''">
      and c.number LIKE "%"#{params.fixphone,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.showNum != null and params.showNum != ''">
      and a.show_num LIKE "%"#{params.showNum,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.ccode != null and params.ccode != ''">
      and b.cityid = #{params.ccode,jdbcType=VARCHAR}
    </if>
    <if test="params.pcode != null and params.pcode != ''">
      and d.pcode = #{params.pcode,jdbcType=VARCHAR}
    </if>
    ORDER BY a.atime DESC
    <include refid="com.e9cloud.suf"/>
  </select>

  <select id="pageNumList" resultType="map" parameterType="Page">
    <include refid="com.e9cloud.pre"/>
    SELECT
      an.apply_id applyId, an.show_num showNum, an.atime, sf.number fixphone,
      an.long_distance_flag longDistanceFlag, an.call_switch_flag callSwitchFlag,
      ss.sip_phone sipphone, ss.ip_port ipPort, ss.pwd, ss.sip_realm sipRealm,
      sn.show_num aShowNum, sn.audit_status auditStatus, cp.cname, cp.pname, an.id
    FROM tb_sp_apply_num an
    LEFT JOIN tb_sp_sipphone ss ON an.sipphone_id = ss.id
    LEFT JOIN tb_sp_fixphone sf ON an.fixphone_id = sf.id
    LEFT JOIN (
      select a.* from tb_sp_num_audit a,(
        select shownum_id,max(atime) atime from tb_sp_num_audit group by shownum_id)
      b where a.shownum_id = b.shownum_id and a.atime = b.atime
    ) sn ON an.id = sn.shownum_id
    LEFT JOIN (
      SELECT
        tc.cname, tp.pname, tc.ccode, tp.pcode
      FROM tb_telno_city tc LEFT JOIN tb_telno_province tp ON tc.pcode = tp.pcode
    ) cp ON an.cityid = cp.ccode
    WHERE an.`status` = '00'
    <if test="params.applyId != null and params.applyId != ''">
      AND an.apply_id = #{params.applyId,jdbcType=VARCHAR}
    </if>
    <if test="params.appid != null and params.appid != ''">
      AND an.appid = #{params.appid,jdbcType=VARCHAR}
    </if>

    <if test="params.sipphone != null and params.sipphone != ''">
      and ss.sip_phone LIKE "%"#{params.sipphone,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.fixphone != null and params.fixphone != ''">
      and sf.number LIKE "%"#{params.fixphone,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.showNum != null and params.showNum != ''">
      and (an.show_num LIKE "%"#{params.showNum,jdbcType=VARCHAR}"%" OR sn.show_num LIKE "%"#{params.showNum,jdbcType=VARCHAR}"%")
    </if>
    <if test="params.auditStatus != null and params.auditStatus != ''">
      and sn.audit_status = #{params.auditStatus,jdbcType=VARCHAR}
    </if>
    <if test="params.ccode != null and params.ccode != ''">
      and cp.ccode = #{params.ccode,jdbcType=VARCHAR}
    </if>
    <if test="params.pcode != null and params.pcode != ''">
      and cp.pcode = #{params.pcode,jdbcType=VARCHAR}
    </if>
    ORDER BY an.atime DESC
    <include refid="com.e9cloud.suf"/>
  </select>

  <select id="getSpApplyNumById" resultMap="BaseResultMap" parameterType="java.lang.Long">
    SELECT a.id,a.appid,a.apply_id,a.sipphone_id,b.sip_phone,a.fixphone_id,c.number,a.show_num,a.atime,a.audit_status,a.audit_common,a.audit_time
    FROM tb_sp_apply_num a,tb_sp_sipphone b,tb_sp_fixphone c
    WHERE a.sipphone_id=b.id AND a.fixphone_id=c.id
    AND a.id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getSpApplyNumByIds" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from tb_sp_apply_num
    where id in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

  <select id="getSpApplyNumRecoverByIds" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List" />
    from (SELECT * FROM tb_sp_apply_num WHERE id IN
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
    )a
    where fixphone_id NOT IN(SELECT fixphone_id FROM tb_sp_apply_num WHERE id NOT IN
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
    )
  </select>

  <select id="getSpApplyNumByfixphoneId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    FROM tb_sp_apply_num
    WHERE fixphone_id = #{fixphoneId,jdbcType=VARCHAR}
  </select>

  <select id="deSpApplyNumByIds" resultMap="BaseResultMap" parameterType="java.util.List">
    select
    <include refid="Base_Column_List" />
    from tb_sp_apply_num
    where id in
    <foreach collection="list" item="item" open="(" close=")" index="index" separator=",">
      #{item}
    </foreach>
  </select>

  <!-- 删除外显号码 -->
  <update id="updateShowNumStatus" parameterType="long">
    UPDATE tb_sp_apply_num
    SET `status` = '01',
        fixphone_id = NULL,
        sipphone_id = NULL
    WHERE id = #{id,jdbcType=BIGINT}
  </update>

  <select id="countSpApplyNumByFixId" resultType="long" parameterType="com.e9cloud.mybatis.domain.SpApplyNum" >
    select
    count(1)
    from tb_sp_apply_num
    where id != #{id,jdbcType=BIGINT}
    AND fixphone_id = #{fixphoneId,jdbcType=VARCHAR}
    AND status = '00'
  </select>

  <delete id="deleteSpApplyNum" parameterType="java.lang.Long">
    DELETE FROM tb_sp_apply_num WHERE id in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>

  <update id="deleteSipphone" parameterType="java.util.List" >
    update tb_sp_sipphone set status='03',updatetime = now() where id IN
    <foreach collection="list" item="item" open="(" close=")" index="index" separator=",">
      #{item}
    </foreach>
  </update>

  <update id="deletefixphone" parameterType="java.util.List" >
    update tb_sp_fixphone set status='03' where id IN
    <foreach collection="list" item="item" open="(" close=")" index="index" separator=",">
      #{item}
    </foreach>
  </update>

  <update id="updateShowNum" parameterType="com.e9cloud.mybatis.domain.SpApplyNum" >
    update tb_sp_apply_num
    <set >
      <if test="showNum != null and showNum!=''" >
        show_num = #{showNum,jdbcType=VARCHAR},
      </if>
      audit_status='00'
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="downloadSipNumReport" resultType="map" parameterType="Page">
    <include refid="com.e9cloud.pre"/>
    SELECT b.sip_phone,c.number,a.show_num,a.audit_status,e.pname,d.cname,b.pwd,b.sip_realm,b.ip_port,a.atime
    FROM tb_sp_apply_num a,tb_sp_sipphone b,tb_sp_fixphone c,tb_telno_city d,tb_telno_province e
    WHERE a.sipphone_id=b.id AND a.fixphone_id= c.id AND b.cityid=d.ccode AND d.pcode=e.pcode
    <if test="params.appid != null and params.appid != ''">
      and a.appid = #{params.appid,jdbcType=VARCHAR}
    </if>
    <if test="params.sipphone!=null and ''!=params.sipphone" >
      AND b.sip_phone LIKE "%" #{params.sipphone,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.fixphone != null and ''!=params.fixphone" >
      AND c.number LIKE "%" #{params.fixphone,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.showNum!=null and ''!=params.showNum" >
      AND a.show_num LIKE "%" #{params.showNum,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.ccode != null and params.ccode != ''">
      and b.cityid = #{params.ccode,jdbcType=VARCHAR}
    </if>
    <if test="params.pcode != null and params.pcode != ''">
      and d.pcode = #{params.pcode,jdbcType=VARCHAR}
    </if>
    order by atime DESC
    <include refid="com.e9cloud.suf"/>
  </select>

  <select id="checkSipphone" resultType="map" parameterType="map">
    SELECT
    ss.id, IF(an.id is NULL,'03','01') `status`
    FROM tb_sp_sipphone ss
    LEFT JOIN (SELECT * FROM tb_sp_apply_num a WHERE a.`status` = '00') an ON ss.id = an.sipphone_id
    WHERE ss.sip_phone = #{sipphone,jdbcType=VARCHAR}
    <if test="cityid != null and cityid != ''" >
      AND ss.cityid = #{cityid,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="checkFixphone" resultType="map" parameterType="map">
    SELECT
    ss.id, IF(an.id is NULL,'03','01') `status`
    FROM tb_sp_fixphone ss
    LEFT JOIN (
      SELECT * FROM tb_sp_apply_num a WHERE a.`status` = '00'
      <if test="appid != null and appid != ''" >
      AND a.appid NOT IN (
        SELECT appid FROM tb_app_info ai
        WHERE ai.bus_type = '05'
        AND ai.sid = (SELECT ia.sid FROM tb_app_info ia WHERE ia.appid = #{appid,jdbcType=VARCHAR} )
      )
      </if>
    ) an ON ss.id = an.fixphone_id
    WHERE ss.number = #{fixphone,jdbcType=VARCHAR}
    <if test="cityid != null and cityid != ''" >
      AND ss.cityid = #{cityid,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="checkShowNum" resultType="long" parameterType="map">
    SELECT count(1) FROM tb_sp_apply_num an
    WHERE an.show_num = #{showNum,jdbcType=VARCHAR}
    AND an.`status` = '00'
    AND an.appid NOT IN (
      SELECT appid FROM tb_app_info ai
      WHERE ai.bus_type = '05'
      AND ai.sid = (SELECT ia.sid FROM tb_app_info ia WHERE ia.appid = #{appid,jdbcType=VARCHAR} )
    )
  </select>

  <select id="selectShowNumWithSipFixPhoneByPK" resultType="com.e9cloud.mybatis.domain.SpApplyNum" parameterType="long">
    SELECT
    an.id, an.show_num showNum, sf.number fixphone, ss.sip_phone sipphone, an.appid
    FROM tb_sp_apply_num an
    LEFT JOIN tb_sp_fixphone sf ON an.fixphone_id = sf.id
    LEFT JOIN tb_sp_sipphone ss ON an.sipphone_id = ss.id
    WHERE an.id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insertSelective" parameterType="com.e9cloud.mybatis.domain.SpApplyNum" useGeneratedKeys="true" keyProperty="id">
    insert into tb_sp_apply_num
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="sipphoneId != null" >
        sipphone_id,
      </if>
      <if test="fixphoneId != null" >
        fixphone_id,
      </if>
      <if test="showNum != null" >
        show_num,
      </if>
      <if test="cityid != null" >
        cityid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="atime != null" >
        atime,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditCommon != null" >
        audit_common,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
      <if test="longDistanceFlag != null" >
        long_distance_flag,
      </if>
      <if test="callSwitchFlag != null" >
        call_switch_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="sipphoneId != null" >
        #{sipphoneId,jdbcType=VARCHAR},
      </if>
      <if test="fixphoneId != null" >
        #{fixphoneId,jdbcType=VARCHAR},
      </if>
      <if test="showNum != null" >
        #{showNum,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="atime != null" >
        #{atime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=CHAR},
      </if>
      <if test="auditCommon != null" >
        #{auditCommon,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longDistanceFlag != null" >
        #{longDistanceFlag,jdbcType=CHAR},
      </if>
      <if test="callSwitchFlag != null" >
        #{callSwitchFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <insert id="insertSelectiveAndCopyShowNum" parameterType="com.e9cloud.mybatis.domain.SpApplyNum" useGeneratedKeys="true" keyProperty="id">
    <selectKey keyProperty="showNum" resultType="string" order="BEFORE">
      SELECT sf.number FROM tb_sp_fixphone sf WHERE sf.id = #{fixphoneId,jdbcType=VARCHAR}
    </selectKey>
    insert into tb_sp_apply_num
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="sipphoneId != null" >
        sipphone_id,
      </if>
      <if test="fixphoneId != null" >
        fixphone_id,
      </if>
      <if test="showNum != null" >
        show_num,
      </if>
      <if test="cityid != null" >
        cityid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="atime != null" >
        atime,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditCommon != null" >
        audit_common,
      </if>
      <if test="auditTime != null" >
        audit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="sipphoneId != null" >
        #{sipphoneId,jdbcType=VARCHAR},
      </if>
      <if test="fixphoneId != null" >
        #{fixphoneId,jdbcType=VARCHAR},
      </if>
      <if test="showNum != null" >
        #{showNum,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="atime != null" >
        #{atime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=CHAR},
      </if>
      <if test="auditCommon != null" >
        #{auditCommon,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.e9cloud.mybatis.domain.SpApplyNum" >
    update tb_sp_apply_num
    <set >
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=VARCHAR},
      </if>
      <if test="sipphoneId != null" >
        sipphone_id = #{sipphoneId,jdbcType=VARCHAR},
      </if>
      <if test="fixphoneId != null" >
        fixphone_id = #{fixphoneId,jdbcType=VARCHAR},
      </if>
      <if test="showNum != null" >
        show_num = #{showNum,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        cityid = #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="atime != null" >
        atime = #{atime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=CHAR},
      </if>
      <if test="auditCommon != null" >
        audit_common = #{auditCommon,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateSipStatus" parameterType="com.e9cloud.mybatis.domain.SpApplyNum" >
    update tb_sp_apply_num
    <set>
      <if test="longDistanceFlag != null" >
        long_distance_flag = #{longDistanceFlag,jdbcType=VARCHAR},
      </if>
      <if test="callSwitchFlag != null" >
        call_switch_flag = #{callSwitchFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>