<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TelnoInfo_Mapper" >
  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.TelnoInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="telno" property="telno" jdbcType="VARCHAR" />
    <result column="pcode" property="pcode" jdbcType="VARCHAR" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="ccode" property="ccode" jdbcType="VARCHAR" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="areacode" property="areacode" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="card" property="card" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, telno, pcode, pname, ccode, cname,
    areacode, operator, card
  </sql>

  <!--  -->
  <select id="selectTelnoInfoByTelno" resultMap="BaseResultMap" parameterType="string">
    SELECT
     <include refid="Base_Column_List"/>
     FROM tb_telno_info
    WHERE telno = #{telno,jdbcType=VARCHAR}
    LIMIT 1
  </select>

  <!-- 分页选取智能云调度号段列表 -->
  <select id="pageTelnoInfoList" resultType="map" parameterType="Page">
    <include refid="com.e9cloud.pre"/>
    SELECT
    tei.id,tei.pname,tei.cname,tei.telno,tei.areacode,teo.oname
    FROM
    tb_telno_info tei
    inner join tb_telno_operator teo
    on tei.operator = teo.ocode
    <if test="params.pname != null and params.pname != ''">
      and pname LIKE "%"#{params.pname,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.telno != null and params.telno != ''">
      and telno =#{params.telno,jdbcType=VARCHAR}
    </if>
    <if test="params.cname != null and params.cname != ''">
      and cname LIKE "%"#{params.cname,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.operator != null and params.operator != '' and params.operator != 'all'">
      and operator = #{params.operator,jdbcType=VARCHAR}
    </if>
      order by tei.id DESC
    <include refid="com.e9cloud.suf"/>
  </select>

  <insert id="saveTelnoInfo" parameterType="com.e9cloud.mybatis.domain.TelnoInfo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into tb_telno_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="telno != null" >
        telno,
      </if>
      <if test="pcode != null" >
        pcode,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="ccode != null" >
        ccode,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="areacode != null" >
        areacode,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="card != null" >
        card,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="telno != null" >
        #{telno,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null" >
        #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="ccode != null" >
        #{ccode,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null" >
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        #{card,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateTelnoInfo" parameterType="com.e9cloud.mybatis.domain.TelnoInfo" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update tb_telno_info
    <set >
      <if test="telno != null" >
        telno = #{telno,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null" >
        pcode = #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="ccode != null" >
        ccode = #{ccode,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null" >
        areacode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        card = #{card,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="delTelnoInfo" parameterType="com.e9cloud.mybatis.domain.TelnoInfo" >
    delete from tb_telno_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <resultMap id="onameResultMap" type="com.e9cloud.mybatis.domain.TelnoInfo" extends="BaseResultMap">
    <result column="oname" property="oname" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryTelnoInfoById" resultMap="onameResultMap" parameterType="java.lang.String" >
    select
    tei.id, tei.telno, tei.pcode, tei.pname, tei.ccode, tei.cname,
    tei.areacode, tei.operator, tei.card,teo.oname
    from tb_telno_info tei
    inner join tb_telno_operator teo
    on tei.operator = teo.ocode
    and tei.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="countTelnoInfo" resultType="Integer" parameterType="com.e9cloud.mybatis.domain.TelnoInfo" >
    select count(1)
    from tb_telno_info
    where 1=1
    <if test="telno!=null and telno!=''">
      and telno = #{telno,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="queryTelnoInfoByCcode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List"/>
    from tb_telno_info
    WHERE 1=1
    <if test="_parameter!=null and _parameter!=''">
      and ccode = #{_parameter,jdbcType=VARCHAR}
    </if>

  </select>
</mapper>