<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="VoiceVerifyApp_Mapper" >
  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.VoiceVerifyApp" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, uid, sid, appid, addtime
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_voiceverify_app_pool
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!-- 分页联合查询号码池信息 -->
  <select id="selectVoiceAppPoolList" resultType="map" parameterType="com.e9cloud.core.page.Page">
    <include refid="com.e9cloud.pre"/>
    select a.id, b.name, a.sid, c.app_name, a.appid,a.addtime
    from tb_voiceverify_app_pool a, tb_user_admin_authen_company b, tb_app_info c
    where a.uid = b.uid  and a.appid = c.appid
    <if test="params.timemin != null and ''!=params.timemin ">
      AND a.addtime &gt;= #{params.timemin,jdbcType=TIMESTAMP}
    </if>
    <if test="params.timemax != null and ''!=params.timemax">
      AND a.addtime &lt;= #{params.timemax,jdbcType=TIMESTAMP}
    </if>
    <if test="params.name!=null and ''!=params.name">
      and b.name LIKE "%"#{params.name,jdbcType=VARCHAR}"%"
    </if>
    <if test="params.sid!=null and ''!=params.sid">
      and a.sid = #{params.sid,jdbcType=VARCHAR}
    </if>
    <if test="params.appid!=null and ''!=params.appid">
      and a.appid = #{params.appid,jdbcType=VARCHAR}
    </if>
    <if test="params.appName!=null and ''!=params.appName">
      and c.app_name LIKE "%"#{params.appName,jdbcType=VARCHAR}"%"
    </if>
    order by a.addtime DESC
    <include refid="com.e9cloud.suf"/>
  </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_voiceverify_app_pool
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.e9cloud.mybatis.domain.VoiceVerifyApp" >
    insert into tb_voiceverify_app_pool (id, uid, sid,
      appid, addtime)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, 
      #{appid,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.e9cloud.mybatis.domain.VoiceVerifyApp" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into tb_voiceverify_app_pool
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.e9cloud.mybatis.domain.VoiceVerifyApp" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update tb_voiceverify_app_pool
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.e9cloud.mybatis.domain.VoiceVerifyApp" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update tb_voiceverify_app_pool
    set uid = #{uid,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>