<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AppNumberRest_Mapper" >
  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.AppNumberRest" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="number_id" property="numberId" jdbcType="BIGINT" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, number_id, appid, number, addtime
  </sql>

  <select id="findAppNumberRestListByAppid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_app_number_rest
    where appid = #{appid,jdbcType=VARCHAR}
  </select>

</mapper>