<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CityAreaCode_Mapper" >
  <resultMap id="BaseResultMap" type="com.e9cloud.mybatis.domain.CityAreaCode" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, city, area_code
  </sql>

  <select id="selectCityAreaCodeList" resultMap="BaseResultMap" parameterType="com.e9cloud.mybatis.domain.CityAreaCode" >
    select
    <include refid="Base_Column_List" />
    from tb_city_area_code
    where 1=1
    <if test="id!=null and ''!=id">
      and id = #{id,jdbcType=VARCHAR}
    </if>
    <if test="city!=null and ''!=city">
      and city LIKE "%"#{city,jdbcType=VARCHAR}"%"
    </if>
    <if test="areaCode!=null and ''!=areaCode">
      and area_code = #{areaCode,jdbcType=VARCHAR}
    </if>
  </select>


  <select id="selectCityAreaCodeByAreaCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from tb_city_area_code
    where area_code in (${_parameter})
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_city_area_code
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_city_area_code
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.e9cloud.mybatis.domain.CityAreaCode" >
    insert into tb_city_area_code (id, city, area_code
      )
    values (#{id,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.e9cloud.mybatis.domain.CityAreaCode" >
    insert into tb_city_area_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.e9cloud.mybatis.domain.CityAreaCode" >
    update tb_city_area_code
    <set >
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>